<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/_layout :: view(~{:: .content-wrapper}, 'Thêm đơn hàng')">
<body>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Thêm đơn hàng</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Trang chủ </a></li>
                            <li class="breadcrumb-item active">Thêm đơn hàng</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="card card-primary card-outline">
                    <form class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Thông tin khách hàng</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Danh sách sản phẩm</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col">
                                            <label for="name_user">Họ và Tên : </label>
                                            <input name="name" type="text" class="form-control" id="name_user" placeholder="Enter fullname ...">
                                        </div>
                                        <div class="col">
                                            <label for="email_account">Email :</label>
                                            <input name="email" type="email" class="form-control" id="email_account" placeholder="Enter email">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col">
                                            <label for="address">Địa chỉ :</label>
                                            <input name="password" type="text" class="form-control" id="address" placeholder="Address ...">
                                        </div>
                                        <div class="col">
                                            <label for="phone_number">Số điện thoại :</label>
                                            <input name="password" type="text" class="form-control" id="phone_number" placeholder="Phone number ...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card ">
                                            <div class="card-body">
                                                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                                    <button type="reset" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalAddProd">
                                                        <i class="fas fa-plus"></i>
                                                        Thêm sản phẩm
                                                    </button>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                                                <thead>
                                                                <tr>
                                                                    <th class="sorting">#</th>
                                                                    <th class="sorting">Tên sản phẩm</th>
                                                                    <th class="sorting">Số lượng</th>
                                                                    <th class="sorting">Đơn giá</th>
                                                                    <th class="sorting">Action</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody id="list_prod_order">
                                                                <!-- <tr class="odd">
                                                                  <td class="dtr-control" tabindex="0">1</td>
                                                                  <td class="">All others</td>
                                                                  <td class="sorting_1">999</td>
                                                                  <td class="sorting_1">999</td>
                                                                  <td>
                                                                    <button class="btn btn-danger btnDelAccount">
                                                                        <i class="far fa-trash-alt"></i>
                                                                    </button>
                                                                  </td>
                                                                </tr> -->
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </div>
                        </div>
                        <!-- Modal add product-->
                        <div class="modal fade" id="modalAddProd" tabindex="-1"  aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Tìm kiếm sản phẩm </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group" >
                                            <input class="form-control form-control-sidebar" type="search" placeholder="Tìm kiếm ..." aria-label="Search">
                                            <div class="input-group-append">
                                                <button class="btn btn-sidebar">
                                                    <i class="fas fa-search fa-fw"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="product_choose input-group mt-3">
                                            <input type="text" name="" disabled value="lorem ha s e">
                                            <div class="btn-del">
                                                <i class="fas fa-times text-danger"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                        <button id="btnAddProd" type="button" class="btn btn-primary btnAddProd">Thêm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal add product-->
                        <div class="tab-custom-content">
                            <button type="submit" class="btn btn-success">Thêm đơn hàng</button>
                            <button type="reset" class="btn btn-secondary">Nhập lại</button>
                        </div>
                    </form>
                    <!-- /.card -->
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</body>
</html>