<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/_layout :: view(~{:: .content-wrapper}, 'Thêm sản phẩm')">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="card card-primary card-outline">
                <form th:action="@{/admin/manager-product/add}" method="post" th:object="${newProduct}" class="card-body">
                    <input type="hidden" th:field="*{id}" th:value="${newProduct.id}">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Chi tiết</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Mô tả</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Hình ảnh</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="name_product">Tên sản phẩm </label>
                                        <input th:field="*{name}" th:value="${newProduct.name}" type="text" class="form-control" id="name_product" placeholder="Enter name product ...">
                                    </div>
                                    <div class="col">
                                        <label for="name_brand">Hãng</label>
                                        <input th:field="*{brand}" th:value="${newProduct.brand}" type="text" class="form-control" id="name_brand" placeholder="Name brand (Cetapil) ...">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="form-group" data-select2-id="45">
                                            <label for="name_gr_category">Tên nhóm danh mục : </label>
                                            <select id="name_gr_category" name="groupCategory" class="form-control select2 select2-hidden-accessible" style="width: 100%;">
                                                <option th:each="item, iStar : ${groupCategories}"
                                                        th:value="${item.id}"
                                                        th:text="${item.name}"
                                                        th:selected="${iStar.index == indexGCSelected}"
                                                ></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group" >
                                            <label for="name_category">Tên danh mục : </label>
                                            <select  th:field="*{category}"  id="name_category"  class="form-control select2 select2-hidden-accessible" style="width: 100%;" >
                                                <option th:each="item, iStar : ${groupCategories[indexGCSelected].categories}"
                                                        th:value="${item.id}"
                                                        th:text="${item.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="q_left">Số lượng trong kho</label>
                                        <input th:field="*{quantityLeft}" th:value="${newProduct.quantityLeft}" type="number" class="form-control" id="q_left" placeholder="Quantity instock ...">
                                    </div>
                                    <div class="col">
                                        <label for="q_sold">Số lượng đã bán</label>
                                        <input th:field="*{quantitySold}" th:value="${newProduct.quantitySold}" type="number" class="form-control" id="q_sold" placeholder="Quantity sold ...">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="price_prod">Giá sản phẩm</label>
                                        <input th:field="*{price}" th:value="${newProduct.price}" type="number" class="form-control" id="price_prod" placeholder="Price product ...">
                                    </div>
                                    <div class="col">
                                        <label for="percent_discount">Giảm giá (%)</label>
                                        <input th:field="*{percentDiscount}" th:value="${newProduct.percentDiscount}" type="number" class="form-control" id="percent_discount" placeholder="Percent discount ...">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-outline card-info">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                Mô tả ngắn
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <textarea th:field="*{shortDescription}"
                                                      th:value="${newProduct.shortDescription}"
                                                      id="shortDescription">Short description ...</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-outline card-info">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                Mô tả chi tiết
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <textarea  th:field="*{fullDescription}"
                                                       th:value="${newProduct.fullDescription}"
                                                       id="fullDescription">Full description ...</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                            <div class="row my-3">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="exampleInputFile">Ảnh chính </label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="exampleInputFile1" >
                                                <label class="custom-file-label" for="exampleInputFile1">Choose file</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="exampleInputFile">Ảnh phụ 1</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="exampleInputFile" >
                                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-custom-content">
                        <button type="submit" class="btn btn-success" th:text="${mode != 'edit' ? 'Thêm sản phẩm' : 'Cập nhật'}"></button>
                        <button type="reset" class="btn btn-secondary">Nhập lại</button>
                    </div>
                </form>
                <!-- /.card -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <script  th:inline="javascript">
        $(document).ready(function() {
          $('#shortDescription').summernote({
            placeholder: 'Write some sort description here',
            tabsize: 2,
            height: 80,
            toolbar: [
              ['style', ['style']],
              ['font', ['bold', 'underline', 'clear']],
              ['color', ['color']],
              ['para', ['ul', 'ol', 'paragraph']],
              ['table', ['table']],
              ['insert', ['link', 'picture', 'video']],
              ['view', ['fullscreen', 'codeview', 'help']]
            ]
          });
          $('#fullDescription').summernote({
            placeholder: 'Long description ...',
            tabsize: 2,
            height: 120,
            toolbar: [
              ['style', ['style']],
              ['font', ['bold', 'underline', 'clear']],
              ['color', ['color']],
              ['para', ['ul', 'ol', 'paragraph']],
              ['table', ['table']],
              ['insert', ['link', 'picture', 'video']],
              ['view', ['fullscreen', 'codeview', 'help']]
            ]
          });
       });
    </script>
    <script th:src="@{/assets/admin/dist/js/addProduct.js}"></script>
</div>
<!-- /.content-wrapper -->
</body>
</html>
