<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/_layout :: view(~{:: .content-wrapper}, 'Quản lí nhóm danh mục')">
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Quản lí nhóm danh mục</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ </a></li>
                        <li class="breadcrumb-item active">Nhóm danh mục</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-12">
                    <div class="card ">
                        <div class="card-header ">
                            <div class="row justify-content-between">
                                <div class="col-sm-12 col-md-6">
                                    <div class="w-50">
                                        <button  type="button" class="btn btn-block btn-success btn-modal-app" data-bs-toggle="modal" data-bs-target="#myModal">
                                            <i class="fas fa-plus"></i>
                                            Thêm nhóm danh mục
                                        </button>
                                        <!-- Modal add group category-->
                                        <div class="modal fade"  id="myModal">
                                            <div class="modal-dialog">
                                                <form th:action="@{/admin/group-category/add}" method="post" th:object="${newGroupCategory}" class="modal-content">
                                                    <input type="hidden" th:field="*{id}" th:value="${newGroupCategory.id}" data-field="id">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" ><span class="mode">Thêm mới</span></h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="card-body">
                                                            <div class="form-group">
                                                                <label for="name_category">Tên nhóm danh mục : </label>
                                                                <input name="name" th:field="*{name}" th:value="${newGroupCategory.name}" data-field="name"
                                                                         type="text" class="form-control" id="name_category" placeholder="Enter category ...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                        <button type="submit" class="btn btn-success mode">Thêm mới</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- modal  group category-->
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <form th:action="@{/admin/group-category}" method="get" class="input-group" >
                                        <input name="keyword" th:value="${keyword}" id="inputSearch" class="form-control form-control-sidebar" type="search" placeholder="Tìm kiếm ..." aria-label="Search">
                                        <div class="input-group-append">
                                            <button type="submit" id="btnSearch" class="btn btn-sidebar">
                                                <i class="fas fa-search fa-fw"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                <thead>
                                <tr>
                                    <th class="sorting">#</th>
                                    <th class="sorting">Tên Nhóm Danh Mục</th>
                                    <th class="sorting">Active</th>
                                    <th class="sorting">Action </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item, iStat  : ${listGroupCategories}">
                                    <td th:text="${1 + iStat.index + (currentPage -1)*5}"></td>
                                    <td th:text="${item.name}"></td>
                                    <td >
                                        <label th:for="${item.name}" class="switch switch-status">
                                            <input th:id="${item.name}" type="checkbox"
                                                   th:checked="${item.isActive}"
                                                   th:onclick="$(this).changeStatus([[${item.id}]])">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <button th:onclick="editWithAjax([[${item.id}]])" class="btn btn-primary me-2 btnEditAccount">
                                            <i class="nav-icon fas fa-edit"></i>
                                        </button>
                                        <button th:onclick="deleteWithAjax([[${item.id}]])" class="btn btn-danger btnDelAccount">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                            </div>
                                <th:block th:replace="admin/fragments :: pagination('group-category')"></th:block>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
</body>
</html>