<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/_layout :: view(~{:: .content-wrapper}, 'Quản lí tài khoản')">
<body>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Quản lí tài khoản</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Trang chủ </a></li>
                            <li class="breadcrumb-item active">Quản lí tài khoản</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-12">
                        <div class="card ">
                            <div class="card-header ">
                                <div class="row justify-content-between">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="w-50">
                                            <button  type="button" class="btn btn-block btn-success btn-modal-app" data-bs-toggle="modal" data-bs-target="#myModal">
                                                Thêm tài khoản
                                            </button>
                                            <!-- Modal add account-->
                                            <div class="modal fade"  id="myModal">
                                                <div class="modal-dialog">
                                                    <form th:action="@{/admin/manager-user/add}" th:object="${newUser}" method="post" class="modal-content">
                                                        <input type="hidden" th:field="*{id}" th:value="${newUser.id}" data-field="id">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" ><span class="mode">Thêm</span> tài khoản</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="card-body">
                                                                <div class="form-group">
                                                                    <label for="name_account">Họ và Tên : </label>
                                                                    <input name="fullName" type="text" class="form-control" id="name_account" placeholder="Enter fullname ..."
                                                                           th:field="*{fullName}" th:value="${newUser.fullName}" data-field="fullName">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="email_account">Email :</label>
                                                                    <input name="email" type="email" class="form-control" id="email_account" placeholder="Enter email"
                                                                           th:field="*{email}" th:value="${newUser.email}" data-field="email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="pass_account">Mật khẩu :</label>
                                                                    <input name="password" type="password" class="form-control" id="pass_account" placeholder="Password"
                                                                           th:field="*{password}" th:value="${newUser.password}">
                                                                </div>
                                                                <div class="row px-4">
                                                                    <div class="col">
                                                                        <input name="role_name" type="radio" class="form-check-input" id="role_user" checked
                                                                               value="ROLE_USER">
                                                                        <label class="form-check-label" for="role_user">ROLE USER</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <input name="role_name" type="radio" class="form-check-input" id="role_admin"
                                                                                value="ROLE_ADMIN">
                                                                        <label class="form-check-label" for="role_admin" >ROLE ADMIN</label>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                            <button type="submit" class="btn btn-success mode">Thêm mới</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- modal add account-->
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                            <form th:action="@{/admin/group-category}" method="get" class="input-group" >
                                                <input th:value="${keyword}" name="keyword" id="inputSearch" class="form-control form-control-sidebar" type="search" placeholder="Tìm kiếm ..." aria-label="Search">
                                                <div class="input-group-append">
                                                    <button type="submit" id="btnSearch" class="btn btn-sidebar">
                                                        <i class="fas fa-search fa-fw"></i>
                                                    </button>
                                                </div>
                                            </form>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                    <thead>
                                    <tr>
                                        <th class="sorting">#</th>
                                        <th class="sorting">Fullname</th>
                                        <th class="sorting">Email</th>
                                        <th class="sorting"> Role </th>
                                        <th class="sorting">Action </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user, iStat  : ${listUsers}" th:classappend="${iStat}">
                                        <td th:text="${iStat.index + 1}"></td>
                                        <td th:text="${user.fullName}"></td>
                                        <td th:text="${user.email}">-</td>
                                        <td th:text="${user.roles.iterator().next().name}"></td>
                                        <td>
                                            <button th:onclick="editWithAjax([[${user.id}]])" class="btn btn-primary me-2 btnEditAccount">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </button>
                                            <button th:onclick="deleteWithAjax([[${user.id}]])" class="btn btn-danger btnDelAccount">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                                </div>
                                    <th:block th:replace="admin/fragments :: pagination('manager-user')"></th:block>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</body>
</html>