<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/_layout :: view(~{:: .content-wrapper}, 'Quản lí khuyến mãi')">
<body>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Quản lí khuyến mãi</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Trang chủ </a></li>
                            <li class="breadcrumb-item active">Quản lí khuyến mãi</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-12">
                        <div class="card ">
                            <div class="card-header ">
                                <div class="row justify-content-between">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="w-50">
                                            <button  type="button" class="btn btn-block btn-success btn-modal-app" data-bs-toggle="modal" data-bs-target="#myModal">
                                                Thêm khuyến mãi
                                            </button>
                                            <!-- Modal add account-->
                                            <div class="modal fade"  id="myModal">
                                                <div class="modal-dialog">
                                                    <form th:action="@{/admin/manager-discount/create}" method="post" th:object="${newDiscount}" class="modal-content">
                                                        <input type="hidden" th:field="*{id}" th:value="${newDiscount.id}" data-field="id">
                                                        <input type="hidden" th:field="*{dateCreate}" th:value="${newDiscount.dateCreate}" data-field="dateCreateString">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5 mode" >Thêm khuyến mãi</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="card-body">
                                                                <div class="form-group" >
                                                                    <label for="name_category">Tên danh mục : </label>
                                                                    <select data-field="category" required th:field="*{category}"  id="name_category"  class="form-control select2 select2-hidden-accessible" style="width: 100%;" >
                                                                        <option th:each="item : ${listCategories}"
                                                                                th:value="${item.id}"
                                                                                th:text="${item.name}"></option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Phần trăm khuyến mãi : </label>
                                                                    <input name="percentDiscount" th:field="*{percentDiscount}" th:value="${newDiscount.percentDiscount}" data-field="percentDiscount"
                                                                           type="number" min="1" max="100" class="form-control" placeholder="Nhập % khuyến mãi ...">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                            <button type="submit" class="btn btn-success mode">Thêm mới</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- modal add discount-->
                                        </div>
                                    </div>
                                    <!--<div class="col-sm-12 col-md-6">
                                        <form th:action="@{/admin/manager-category}" method="get" class="input-group" >
                                            <input name="keyword" th:value="${keyword}" id="inputSearch" class="form-control form-control-sidebar" type="search" placeholder="Tìm kiếm ..." aria-label="Search">
                                            <div class="input-group-append">
                                                <button type="submit" id="btnSearch" class="btn btn-sidebar">
                                                    <i class="fas fa-search fa-fw"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>-->
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                                <thead>
                                                <tr>
                                                    <th class="sorting">#</th>
                                                    <th class="sorting">Ngày tạo</th>
                                                    <th class="sorting">Loại khuyến mãi</th>
                                                    <th class="sorting">Điều kiện</th>
                                                    <th class="sorting">Phần trăm KM (%)</th>
                                                    <th class="sorting">Hành động</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="item, iStat  : ${listDiscount}">
                                                        <td th:text="${1 + iStat.index}"></td>
                                                        <td th:text="${#dates.format(item.dateCreate, 'yyyy-MM-dd')}"></td>
                                                        <td th:text="${item.type}"></td>
                                                        <td th:text="${item.category.name}"></td>
                                                        <td th:text="${item.percentDiscount}"></td>
                                                        <td class="d-flex">
                                                            <button th:onclick="editWithAjax([[${item.id}]])" class="btn btn-primary me-2 btnEditAccount">
                                                                <i class="nav-icon fas fa-edit"></i>
                                                            </button>
                                                            <button th:onclick="deleteWithAjax([[${item.id}]])" class="btn btn-danger btnDelAccount">
                                                                <i class="far fa-trash-alt"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</body>
</html>