<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/_layout :: view(~{:: .content-wrapper}, 'Quản lí danh mục')">
<body>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Quản lí danh mục</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Trang chủ </a></li>
                            <li class="breadcrumb-item active">Quản lí danh mục</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-12">
                        <div class="card ">
                            <div class="card-header ">
                                <div class="row justify-content-between">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="w-50">
                                            <button  type="button" class="btn btn-block btn-success btn-modal-app" data-bs-toggle="modal" data-bs-target="#myModal">
                                                Thêm danh mục
                                            </button>
                                            <!-- Modal add account-->
                                            <div class="modal fade"  id="myModal">
                                                <div class="modal-dialog">
                                                    <form th:action="@{/admin/manager-category/add}" method="post" th:object="${newCategory}" class="modal-content">
                                                        <input type="hidden" th:field="*{id}" th:value="${newCategory.id}" data-field="id">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5 mode" >Thêm danh mục SP</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="card-body">
                                                                <div class="form-group">
                                                                    <label for="name_category">Tên danh mục : </label>
                                                                    <input name="name" th:field="*{name}" th:value="${newCategory.name}" data-field="name"
                                                                           type="text" class="form-control" id="name_category" placeholder="Enter category ...">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="img_category">Link ảnh : </label>
                                                                    <input name="image" th:field="*{image}" th:value="${newCategory.image}" data-field="image"
                                                                           type="text" class="form-control" id="img_category" placeholder="Enter image ...">
                                                                </div>
                                                                <div class="form-group" data-select2-id="45">
                                                                    <label for="name_gr_category">Tên nhóm danh mục : </label>
                                                                    <select th:field="*{groupCategory}" id="name_gr_category"  class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                                        <option th:each="item : ${listGroupCategory}" th:value="${item.id}" th:text="${item.name}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                            <button type="submit" class="btn btn-success mode">Thêm mới</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- modal add account-->
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <form th:action="@{/admin/manager-category}" method="get" class="input-group" >
                                            <input name="keyword" th:value="${keyword}" id="inputSearch" class="form-control form-control-sidebar" type="search" placeholder="Tìm kiếm ..." aria-label="Search">
                                            <div class="input-group-append">
                                                <button type="submit" id="btnSearch" class="btn btn-sidebar">
                                                    <i class="fas fa-search fa-fw"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                                <thead>
                                                <tr>
                                                    <th class="sorting">#</th>
                                                    <th class="sorting">Nhóm Danh Mục</th>
                                                    <th class="sorting">Tên Danh Mục</th>
                                                    <th class="sorting">Action </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="item, iStat  : ${listCategories}">
                                                        <td th:text="${iStat.index + 1}"></td>
                                                        <td th:text="${item.groupCategory.name}"></td>
                                                        <td th:text="${item.name}"></td>
                                                   <!--     <td >
                                                            <label th:for="${item.name}" class="switch switch-status">
                                                                <input th:id="${item.name}" type="checkbox"
                                                                       th:checked="${item.isActive}"
                                                                       th:onclick="$(this).changeStatus([[${item.id}]])">
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </td>-->
                                                        <td>
                                                            <button th:onclick="editWithAjax([[${item.id}]])" class="btn btn-primary me-2 btnEditAccount">
                                                                <i class="nav-icon fas fa-edit"></i>
                                                            </button>
                                                            <button th:onclick="deleteWithAjax([[${item.id}]])" class="btn btn-danger btnDelAccount">
                                                                <i class="far fa-trash-alt"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <th:block th:replace="admin/fragments :: pagination('manager-category')"></th:block>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</body>
</html>