<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head th:replace="fragments :: main_header('tag')"></head>
    <title>Yasuki.com | Mỹ phẩm</title>
    <!-- index -->
    <link th:href="@{/assets/user/css/home.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="fragments :: header"></div>
    <div class="main">
        <!-- Slider -->
        <div class="main__slice">
            <div class="slider">
                <div class="slide active" style="background-image:url(./assets/img/slider/slide-6.jpg)">
                    <div class="container">
                        <div class="caption">
                            <h1>Giảm giá 30%</h1>
                            <p>Giảm giá cực sốc trong tháng 9!</p>
                            <a th:href="@{/list-product}" class="btn btn--default">Xem ngay</a>

                        </div>
                    </div>
                </div>
                <div class="slide active" style="background-image:url(./assets/img/slider/slide-4.jpg)">
                    <div class="container">
                        <div class="caption">
                            <h1>Giảm giá 30%</h1>
                            <p>Giảm giá cực sốc trong tháng 9!</p>
                            <a th:href="@{/list-product}" class="btn btn--default">Xem ngay</a>

                        </div>
                    </div>
                </div>
                <div class="slide active" style="background-image:url(./assets/img/slider/slide-5.jpg)">
                    <div class="container">
                        <div class="caption">
                            <h1>Giảm giá 30%</h1>
                            <p>Giảm giá cực sốc trong tháng 9!</p>
                            <a th:href="@{/list-product}" class="btn btn--default">Xem ngay</a>

                        </div>
                    </div>
                </div>
            </div>
            <!-- controls  -->
            <div class="controls">
                <div class="prev">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="next">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <!-- indicators -->
            <div class="indicator">
            </div>
        </div>


        <div class="main__bands">
            <div class="grid wide">
                <div class="owl-carousel bands">
                    <a  th:href="@{/list-product?keyword=Neutrogena}" class="band__item"
                        style="background-image: url(./assets/img/band/band1.png)"></a>
                    <a  th:href="@{/list-product?keyword=Revlon}" class="band__item"
                        style="background-image: url(./assets/img/band/band2.png)"></a>
                    <a  th:href="@{/list-product?keyword=L%27OREAL}" class="band__item"
                        style="background-image: url(./assets/img/band/band3.png)"></a>
                    <a  th:href="@{/list-product?keyword=Vichy}" class="band__item"
                        style="background-image: url(./assets/img/band/band4.png)"></a>
                    <a  th:href="@{/list-product?keyword=Avène}" class="band__item"
                        style="background-image: url(./assets/img/band/band5.png)"></a>
                    <a  th:href="@{/list-product?keyword=SHISEIDO}" class="band__item"
                        style="background-image: url(./assets/img/band/band6.png)"></a>
                    <a  th:href="@{/list-product?keyword=DHC}" class="band__item"
                        style="background-image: url(./assets/img/band/band7.png)"></a>
                </div>
            </div>
        </div>
        <!--  Top category   -->
        <div class="main__top__category">
            <div class="grid wide">
                <h3 class="category__title">Yasuki Cometics</h3>
                <h3 class="category__heading pink">DANH MỤC HOT</h3>
                <div class="index-categories-list row">
                    <th:block th:each="grCategory : ${session.dataCategory}">
                        <div th:each="category : ${grCategory.categories}" class="index-category">
                            <a th:href="@{'/list-product?category=' +${category.name}}">
                            <span class="index-category-img">
                                <img class="img-fluid lazyloaded" alt="category" th:src="${category.image}">
                            </span>
                                <span class="index-category-title">[[${category.name}]]</span>
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>

        </div>

        <!--Product Category -->
        <div class="main__tabnine">
            <div class="grid wide">
                <!-- Tab items -->
                <div class="tabs">
                    <div class="tab-item active">
                        Bán Chạy
                    </div>
                    <div class="tab-item">
                        Giá tốt
                    </div>
                    <div class="tab-item">
                        Mới Nhập
                    </div>
                    <div class="line"></div>
                </div>
                <!-- Tab content -->
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="link__more">
                            <a th:href="@{/list-product?sortBy=quantitySold&orderBy=desc}" >Xem thêm
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                        <div class="row">
                            <div th:each="product : ${listTopSelling}" class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt"
                                         th:style="'background-image: url('+${__product.mainImage__}+');'">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">[[${product.name}]]</h3>
                                        <div class="product__price">
                                            <div class="price__old">
                                                <span th:if="${product.percentDiscount > 0}">
                                                    [[${#numbers.formatDecimal(product.price, 3,'POINT', 0,'COMMA')}]]đ
                                                </span>
                                            </div>
                                            <div class="price__new">[[${#numbers.formatDecimal(product.priceDiscount, 3,'POINT', 0,'COMMA')}]]<span class="price__unit">đ</span></div>
                                        </div>
                                        <div class="rate__star">
                                            <div class="group-star__prod">
                                                <i th:each="star_item : ${#numbers.sequence(1, product.avgStar)}" class="fas fa-star"></i>
                                                <span>([[${product.evaluates.size()}]] đánh giá)</span>
                                            </div>
                                        </div>
                                        <div th:if="${product.percentDiscount > 0}" class="product__sale">
                                            <span class="product__sale-percent">[[${product.percentDiscount}]]%</span>
                                            <span class="product__sale-text">Giảm</span>
                                        </div>
                                    </div>
                                    <a th:href="@{'/detail-product/'+${product.slug}}" class="viewDetail">Xem chi tiết</a>
                                    <a th:onclick="addToCart([[${product.name}]], [[${product.priceDiscount}]], [[${product.mainImage}]])"  class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane">
                        <div class="link__more">
                            <a th:href="@{/list-product?sortBy=percentDiscount&orderBy=desc}" >Xem thêm
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                        <div class="row">
                            <div th:each="product : ${listTopDiscount}" class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt"
                                         th:style="'background-image: url('+${__product.mainImage__}+');'">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">[[${product.name}]]</h3>
                                        <div class="product__price">
                                            <div class="price__old">
                                                <span th:if="${product.percentDiscount > 0}">
                                                    [[${#numbers.formatDecimal(product.price, 3,'POINT', 0,'COMMA')}]]đ
                                                </span>
                                            </div>
                                            <div class="price__new">[[${#numbers.formatDecimal(product.priceDiscount, 3,'POINT', 0,'COMMA')}]] <span class="price__unit">đ</span></div>
                                        </div>
                                        <div class="rate__star">
                                            <div class="group-star__prod">
                                                <i th:each="star_item : ${#numbers.sequence(1, product.avgStar)}" class="fas fa-star"></i>
                                                <span>([[${product.evaluates.size()}]] đánh giá)</span>
                                            </div>
                                        </div>
                                        <div th:if="${product.percentDiscount > 0}"  class="product__sale">
                                            <span class="product__sale-percent">[[${product.percentDiscount}]]%</span>
                                            <span class="product__sale-text">Giảm</span>
                                        </div>
                                    </div>
                                    <a th:href="@{'/detail-product/'+${product.slug}}" class="viewDetail">Xem chi tiết</a>
                                    <a th:onclick="addToCart([[${product.name}]], [[${product.priceDiscount}]], [[${product.mainImage}]])" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane">
                        <div class="link__more">
                            <a th:href="@{/list-product?sortBy=dateRelease&orderBy=desc}" >Xem thêm
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                        <div class="row">
                            <div th:each="product : ${listTopDateRelease}" class="col l-2 m-4 s-6">
                                <div class="product">
                                    <div class="product__avt"
                                         th:style="'background-image: url('+${__product.mainImage__}+');'">
                                    </div>
                                    <div class="product__info">
                                        <h3 class="product__name">[[${product.name}]]</h3>
                                        <div class="product__price">
                                            <div class="price__old">
                                                <span th:if="${product.percentDiscount > 0}">
                                                    [[${#numbers.formatDecimal(product.price, 3,'POINT', 0,'COMMA')}]]đ
                                                </span>
                                            </div>
                                            <div class="price__new"> [[${#numbers.formatDecimal(product.priceDiscount, 3,'POINT', 0,'COMMA')}]] <span class="price__unit">đ</span></div>
                                        </div>
                                        <div class="rate__star">
                                            <div class="group-star__prod">
                                                <i th:each="star_item : ${#numbers.sequence(1, product.avgStar)}" class="fas fa-star"></i>
                                                <span>([[${product.evaluates.size()}]] đánh giá)</span>
                                            </div>
                                        </div>
                                        <div th:if="${product.percentDiscount > 0}" class="product__sale">
                                            <span class="product__sale-percent">[[${product.percentDiscount}]]%</span>
                                            <span class="product__sale-text">Giảm</span>
                                        </div>
                                    </div>
                                    <a th:href="@{'/detail-product/'+${product.slug}}" class="viewDetail">Xem chi tiết</a>
                                    <a th:onclick="addToCart([[${product.name}]], [[${product.priceDiscount}]], [[${product.mainImage}]])" class="addToCart">Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Face care  -->
        <div class="main__tabnine">
            <div class="grid wide">
                <h3 class="category__title">Yasuki Cometics</h3>
                <h3 class="category__heading pink">[[${session.dataCategory[0].name}]]</h3>
                <div class="link__more">
                    <a th:href="@{'/list-product?group-category='+${session.dataCategory[0].name}}" >Xem tất cả
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </a>
                </div>
                <div class="row">
                    <div th:each="product : ${listSkincare}" class="col l-2 m-4 s-6">
                        <div class="product">
                            <div class="product__avt"
                                 th:style="'background-image: url('+${__product.mainImage__}+');'">
                            </div>
                            <div class="product__info">
                                <h3 class="product__name">[[${product.name}]]</h3>
                                <div class="product__price">
                                    <div class="price__old">
                                                <span th:if="${product.percentDiscount > 0}">
                                                    [[${#numbers.formatDecimal(product.price, 3,'POINT', 0,'COMMA')}]]đ
                                                </span>
                                    </div>
                                    <div class="price__new">[[${#numbers.formatDecimal(product.priceDiscount, 3,'POINT', 0,'COMMA')}]]<span class="price__unit">đ</span></div>
                                </div>
                                <div class="rate__star">
                                    <div class="group-star__prod">
                                        <i th:each="star_item : ${#numbers.sequence(1, product.avgStar)}" class="fas fa-star"></i>
                                        <span>([[${product.evaluates.size()}]] đánh giá)</span>
                                    </div>
                                </div>
                                <div th:if="${product.percentDiscount > 0}" class="product__sale">
                                    <span class="product__sale-percent">[[${product.percentDiscount}]]%</span>
                                    <span class="product__sale-text">Giảm</span>
                                </div>
                            </div>
                            <a th:href="@{'/detail-product/'+${product.slug}}" class="viewDetail">Xem chi tiết</a>
                            <a th:onclick="addToCart([[${product.name}]], [[${product.priceDiscount}]], [[${product.mainImage}]])"  class="addToCart">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--make up  -->
        <div class="main__tabnine">
            <div class="grid wide">
                <h3 class="category__title">Yasuki Cometics</h3>
                <h3 class="category__heading pink">[[${session.dataCategory[1].name}]]</h3>
                <div class="link__more">
                    <a th:href="@{'/list-product?group-category='+${session.dataCategory[1].name}}" >Xem tất cả
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </a>
                </div>
                <div class="row">
                    <div th:each="product : ${listMakeup}" class="col l-2 m-4 s-6">
                        <div class="product">
                            <div class="product__avt"
                                 th:style="'background-image: url('+${__product.mainImage__}+');'">
                            </div>
                            <div class="product__info">
                                <h3 class="product__name">[[${product.name}]]</h3>
                                <div class="product__price">
                                    <div class="price__old">
                                                <span th:if="${product.percentDiscount > 0}">
                                                    [[${#numbers.formatDecimal(product.price, 3,'POINT', 0,'COMMA')}]]đ
                                                </span>
                                    </div>
                                    <div class="price__new">[[${#numbers.formatDecimal(product.priceDiscount, 3,'POINT', 0,'COMMA')}]]<span class="price__unit">đ</span></div>
                                </div>
                                <div class="rate__star">
                                    <div class="group-star__prod">
                                        <i th:each="star_item : ${#numbers.sequence(1, product.avgStar)}" class="fas fa-star"></i>
                                        <span>([[${product.evaluates.size()}]] đánh giá)</span>
                                    </div>
                                </div>
                                <div th:if="${product.percentDiscount > 0}" class="product__sale">
                                    <span class="product__sale-percent">[[${product.percentDiscount}]]%</span>
                                    <span class="product__sale-text">Giảm</span>
                                </div>
                            </div>
                            <a th:href="@{'/detail-product/'+${product.slug}}" class="viewDetail">Xem chi tiết</a>
                            <a th:onclick="addToCart([[${product.name}]], [[${product.priceDiscount}]], [[${product.mainImage}]])"  class="addToCart">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--CHĂM SÓC CƠ THỂ -->
        <div class="main__tabnine">
            <div class="grid wide">
                <h3 class="category__title">Yasuki Cometics</h3>
                <h3 class="category__heading pink">[[${session.dataCategory[2].name}]]</h3>
                <div class="link__more">
                    <a th:href="@{'/list-product?group-category='+${session.dataCategory[2].name}}" >Xem tất cả
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </a>
                </div>
                <div class="row">
                    <div th:each="product : ${listBodyCare}" class="col l-2 m-4 s-6">
                        <div class="product">
                            <div class="product__avt"
                                 th:style="'background-image: url('+${__product.mainImage__}+');'">
                            </div>
                            <div class="product__info">
                                <h3 class="product__name">[[${product.name}]]</h3>
                                <div class="product__price">
                                    <div class="price__old">
                                                <span th:if="${product.percentDiscount > 0}">
                                                    [[${#numbers.formatDecimal(product.price, 3,'POINT', 0,'COMMA')}]]đ
                                                </span>
                                    </div>
                                    <div class="price__new">[[${#numbers.formatDecimal(product.priceDiscount, 3,'POINT', 0,'COMMA')}]]<span class="price__unit">đ</span></div>
                                </div>
                                <div class="rate__star">
                                    <div class="group-star__prod">
                                        <i th:each="star_item : ${#numbers.sequence(1, product.avgStar)}" class="fas fa-star"></i>
                                        <span>([[${product.evaluates.size()}]] đánh giá)</span>
                                    </div>
                                </div>
                                <div th:if="${product.percentDiscount > 0}" class="product__sale">
                                    <span class="product__sale-percent">[[${product.percentDiscount}]]%</span>
                                    <span class="product__sale-text">Giảm</span>
                                </div>
                            </div>
                            <a th:href="@{'/detail-product/'+${product.slug}}" class="viewDetail">Xem chi tiết</a>
                            <a th:onclick="addToCart([[${product.name}]], [[${product.priceDiscount}]], [[${product.mainImage}]])"  class="addToCart">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- HightLight  -->
        <div class="main__frame">
            <div class="grid wide">
                <h3 class="category__title">Yasuki Cometics</h3>
                <h3 class="category__heading pink">SẢN PHẨM NỔI BẬT</h3>
                <div class="owl-carousel hight owl-theme">
                    <div th:each="product : ${listTopSelling}" class="product">
                        <div class="product__avt" th:style="'background-image: url('+${__product.mainImage__}+');'">
                        </div>
                        <div class="product__info">
                            <h3 class="product__name">[[${product.name}]]</h3>
                            <div class="product__price">
                                <div class="price__old">
                                    <span th:if="${product.percentDiscount > 0}">
                                        [[${#numbers.formatDecimal(product.price, 3,'POINT', 0,'COMMA')}]]đ
                                    </span>
                                </div>
                                <div class="price__new"> [[${#numbers.formatDecimal(product.priceDiscount, 3,'POINT', 0,'COMMA')}]]<span class="price__unit">đ</span></div>
                            </div>
                            <div class="rate__star">
                                <div class="group-star__prod">
                                    <i th:each="star_item : ${#numbers.sequence(1, product.avgStar)}" class="fas fa-star"></i>
                                    <span>([[${product.evaluates.size()}]] đánh giá)</span>
                                </div>
                            </div>
                            <div th:if="${product.percentDiscount > 0}" class="product__sale">
                                <span class="product__sale-percent">[[${product.percentDiscount}]]%</span>
                                <span class="product__sale-text">Giảm</span>
                            </div>
                        </div>
                        <a th:href="@{'/detail-product/'+${product.slug}}" class="viewDetail">Xem chi tiết</a>
                        <a th:onclick="addToCart([[${product.name}]], [[${product.priceDiscount}]], [[${product.mainImage}]])"  class="addToCart" >Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>
<!--        &lt;!&ndash; Sales Policy &ndash;&gt;
        <div class="main__policy">
            <div class="row">
                <div class="col l-3 m-6">
                    <div class="policy bg-1">
                        <img src="./assets/img/policy/policy1.png" class="policy__img"></img>
                        <div class="policy__info">
                            <h3 class="policy__title">GIAO HÀNG MIỄN PHÍ</h3>
                            <p class="policy__description">Cho đơn hàng từ 300K</p>
                        </div>
                    </div>
                </div>
                <div class="col l-3 m-6">
                    <div class="policy bg-2">
                        <img src="./assets/img/policy/policy2.png" class="policy__img"></img>
                        <div class="policy__info">
                            <h3 class="policy__title">ĐỔI TRẢ HÀNG</h3>
                            <p class="policy__description">Trong 3 ngày đầu tiên</p>
                        </div>
                    </div>
                </div>
                <div class="col l-3 m-6">
                    <div class="policy bg-1">
                        <img src="./assets/img/policy/policy3.png" class="policy__img"></img>
                        <div class="policy__info">
                            <h3 class="policy__title">HÀNG CHÍNH HÃNG</h3>
                            <p class="policy__description">Cam kết chất lượng</p>
                        </div>
                    </div>
                </div>
                <div class="col l-3 m-6">
                    <div class="policy bg-2">
                        <img src="./assets/img/policy/policy4.png" class="policy__img"></img>
                        <div class="policy__info">
                            <h3 class="policy__title">TƯ VẤN 24/24</h3>
                            <p class="policy__description">Giải đáp mọi thắc mắc</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>-->
        <!-- News -->
        <div class="main__frame bg-3">
            <div class="grid wide">
                <h3 class="category__title">Yasuki Cometics</h3>
                <h3 class="category__heading pink">Tin Tức</h3>
                <div class="owl-carousel news owl-theme">
                    <a th:each="item : ${top5Newest}" th:href="@{/news}" class="news">
                        <div class="news__img">
                            <img th:src="${item.image}" alt="error">
                        </div>
                        <div class="news__body">
                            <h3 class="news__body-title">[[${item.title}]]</h3>
                            <div class="new__body-date">[[${#dates.format(item.createAt, 'yyyy-MM-dd')}]]</div>
                            <p class="news__description">[[${item.content}]]</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>
    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: modal_form"></div>
    <script>
        $('.owl-carousel.hight').owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
        $('.owl-carousel.news').owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 4000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 2
                }
            }
        })
        $('.owl-carousel.bands').owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            dots: false,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 6
                }
            }
        })
    </script>
    <!-- Script common -->
    <script th:src="@{/assets/user/js/homeScript.js}"></script>
    <script th:src="@{/assets/user/js/commonscript.js}"></script>
    <!--    add to cart-->
    <script th:inline="javascript">
        $(document).ready(function(){
            $(window).on('load', function() {
                var listCart = /*[[${session.listCart}]]*/ [];
                updateHtmlAfterAddCart(listCart);
            });
        });
    </script>
</body>
</html>