<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="fragments :: main_header('tag')"></head>
    <title>Danh sách sản phẩm</title>
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="./assets/css/product.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/productSale.css">
</head>

<body>
    <div th:replace="fragments :: header"></div>
    <div class="main">
        <div class="grid wide">
            <div class="main__taskbar">
                <div class="main__breadcrumb">
                    <div class="breadcrumb__item">
                        <a href="#" class="breadcrumb__link">Trang chủ</a>
                    </div>
                    <div class="breadcrumb__item">
                        <a href="#" class="breadcrumb__link">Cửa hàng</a>
                    </div>
                    <div class="breadcrumb__item">
                        <a href="#" class="breadcrumb__link">Hãng DHC</a>
                    </div>
                </div>
                <div class="main__sort">
                    <h3 class="sort__title">
                        Hiển thị kết quả theo
                    </h3>
                    <select class="sort__select"> name="" id="">
                        <option value="1">Thứ tự mặc định</option>
                        <option value="2">Mức độ phổ biến</option>
                        <option value="3">Điểm đánh giá</option>
                        <option value="4">Mới cập nhật</option>
                        <option value="5">Giá : Cao đến thấp</option>
                        <option value="6">Giá Thấp đến cao</option>
                    </select>
                </div>
            </div>
            <div class="productList">
                <div class="listProduct">
                    <div class="row">
                        <div class="col l-2 m-4 s-6">
                            <div class="product">
                                <div class="product__avt" style="background-image: url(assets/img/product/product1.jpg)">
                                </div>
                                <div class="product__info">
                                    <h3 class="product__name">Framed-Sleeve Tops Group</h3>
                                    <div class="product__price">
                                        <div class="price__old">340.000 <span class="price__unit">đ</span></div>
                                        <div class="price__new">320.000 <span class="price__unit">đ</span></div>
                                    </div>
                                </div>
                                <div class="product__sale">
                                    <span class="product__sale-percent">22%</span>
                                    <span class="product__sale-text">Giảm</span>
                                </div>
                                <a href="#" class="viewDetail">Xem chi tiết</a>
                                <a href="#" class="addToCart">Thêm vào giỏ</a>
                            </div>
                        </div>
                        <div class="col l-2 m-4 s-6">
                            <div class="product">
                                <div class="product__avt" style="background-image: url(assets/img/product/product1.jpg)">
                                </div>
                                <div class="product__info">
                                    <h3 class="product__name">Framed-Sleeve Tops Group</h3>
                                    <div class="product__price">
                                        <div class="price__old">340.000 <span class="price__unit">đ</span></div>
                                        <div class="price__new">320.000 <span class="price__unit">đ</span></div>
                                    </div>
                                </div>
                                <div class="product__sale">
                                    <span class="product__sale-percent">22%</span>
                                    <span class="product__sale-text">Giảm</span>
                                </div>
                                <a href="#" class="viewDetail">Xem chi tiết</a>
                                <a href="#" class="addToCart">Thêm vào giỏ</a>
                            </div>
                        </div>
                        <div class="col l-2 m-4 s-6">
                            <div class="product">
                                <div class="product__avt" style="background-image: url(assets/img/product/product1.jpg)">
                                </div>
                                <div class="product__info">
                                    <h3 class="product__name">Framed-Sleeve Tops Group</h3>
                                    <div class="product__price">
                                        <div class="price__old">340.000 <span class="price__unit">đ</span></div>
                                        <div class="price__new">320.000 <span class="price__unit">đ</span></div>
                                    </div>
                                </div>
                                <div class="product__sale">
                                    <span class="product__sale-percent">22%</span>
                                    <span class="product__sale-text">Giảm</span>
                                </div>
                                <a href="#" class="viewDetail">Xem chi tiết</a>
                                <a href="#" class="addToCart">Thêm vào giỏ</a>
                            </div>
                        </div>
                        <div class="col l-2 m-4 s-6">
                            <div class="product">
                                <div class="product__avt" style="background-image: url(assets/img/product/product1.jpg)">
                                </div>
                                <div class="product__info">
                                    <h3 class="product__name">Framed-Sleeve Tops Group</h3>
                                    <div class="product__price">
                                        <div class="price__old">340.000 <span class="price__unit">đ</span></div>
                                        <div class="price__new">320.000 <span class="price__unit">đ</span></div>
                                    </div>
                                </div>
                                <div class="product__sale">
                                    <span class="product__sale-percent">22%</span>
                                    <span class="product__sale-text">Giảm</span>
                                </div>
                                <a href="#" class="viewDetail">Xem chi tiết</a>
                                <a href="#" class="addToCart">Thêm vào giỏ</a>
                            </div>
                        </div>
                        <div class="col l-2 m-4 s-6">
                            <div class="product">
                                <div class="product__avt" style="background-image: url(assets/img/product/product1.jpg)">
                                </div>
                                <div class="product__info">
                                    <h3 class="product__name">Framed-Sleeve Tops Group</h3>
                                    <div class="product__price">
                                        <div class="price__old">340.000 <span class="price__unit">đ</span></div>
                                        <div class="price__new">320.000 <span class="price__unit">đ</span></div>
                                    </div>
                                </div>
                                <div class="product__sale">
                                    <span class="product__sale-percent">22%</span>
                                    <span class="product__sale-text">Giảm</span>
                                </div>
                                <a href="#" class="viewDetail">Xem chi tiết</a>
                                <a href="#" class="addToCart">Thêm vào giỏ</a>
                            </div>
                        </div>
                        <div class="col l-2 m-4 s-6">
                            <div class="product">
                                <div class="product__avt" style="background-image: url(assets/img/product/product1.jpg)">
                                </div>
                                <div class="product__info">
                                    <h3 class="product__name">Framed-Sleeve Tops Group</h3>
                                    <div class="product__price">
                                        <div class="price__old">340.000 <span class="price__unit">đ</span></div>
                                        <div class="price__new">320.000 <span class="price__unit">đ</span></div>
                                    </div>
                                </div>
                                <div class="product__sale">
                                    <span class="product__sale-percent">22%</span>
                                    <span class="product__sale-text">Giảm</span>
                                </div>
                                <a href="#" class="viewDetail">Xem chi tiết</a>
                                <a href="#" class="addToCart">Thêm vào giỏ</a>
                            </div>
                        </div>
                        <div class="col l-2 m-4 s-6">
                            <div class="product">
                                <div class="product__avt" style="background-image: url(assets/img/product/product1.jpg)">
                                </div>
                                <div class="product__info">
                                    <h3 class="product__name">Framed-Sleeve Tops Group</h3>
                                    <div class="product__price">
                                        <div class="price__old">340.000 <span class="price__unit">đ</span></div>
                                        <div class="price__new">320.000 <span class="price__unit">đ</span></div>
                                    </div>
                                </div>
                                <div class="product__sale">
                                    <span class="product__sale-percent">22%</span>
                                    <span class="product__sale-text">Giảm</span>
                                </div>
                                <a href="#" class="viewDetail">Xem chi tiết</a>
                                <a href="#" class="addToCart">Thêm vào giỏ</a>
                            </div>
                        </div>
                        <div class="col l-2 m-4 s-6">
                            <div class="product">
                                <div class="product__avt" style="background-image: url(assets/img/product/product1.jpg)">
                                </div>
                                <div class="product__info">
                                    <h3 class="product__name">Framed-Sleeve Tops Group</h3>
                                    <div class="product__price">
                                        <div class="price__old">340.000 <span class="price__unit">đ</span></div>
                                        <div class="price__new">320.000 <span class="price__unit">đ</span></div>
                                    </div>
                                </div>
                                <div class="product__sale">
                                    <span class="product__sale-percent">22%</span>
                                    <span class="product__sale-text">Giảm</span>
                                </div>
                                <a href="#" class="viewDetail">Xem chi tiết</a>
                                <a href="#" class="addToCart">Thêm vào giỏ</a>
                            </div>
                        </div>
                        <div class="col l-2 m-4 s-6">
                            <div class="product">
                                <div class="product__avt" style="background-image: url(assets/img/product/product1.jpg)">
                                </div>
                                <div class="product__info">
                                    <h3 class="product__name">Framed-Sleeve Tops Group</h3>
                                    <div class="product__price">
                                        <div class="price__old">340.000 <span class="price__unit">đ</span></div>
                                        <div class="price__new">320.000 <span class="price__unit">đ</span></div>
                                    </div>
                                </div>
                                <div class="product__sale">
                                    <span class="product__sale-percent">22%</span>
                                    <span class="product__sale-text">Giảm</span>
                                </div>
                                <a href="#" class="viewDetail">Xem chi tiết</a>
                                <a href="#" class="addToCart">Thêm vào giỏ</a>
                            </div>
                        </div>
                        <div class="col l-2 m-4 s-6">
                            <div class="product">
                                <div class="product__avt" style="background-image: url(assets/img/product/product1.jpg)">
                                </div>
                                <div class="product__info">
                                    <h3 class="product__name">Framed-Sleeve Tops Group</h3>
                                    <div class="product__price">
                                        <div class="price__old">340.000 <span class="price__unit">đ</span></div>
                                        <div class="price__new">320.000 <span class="price__unit">đ</span></div>
                                    </div>
                                </div>
                                <div class="product__sale">
                                    <span class="product__sale-percent">22%</span>
                                    <span class="product__sale-text">Giảm</span>
                                </div>
                                <a href="#" class="viewDetail">Xem chi tiết</a>
                                <a href="#" class="addToCart">Thêm vào giỏ</a>
                            </div>
                        </div>
                        <div class="col l-2 m-4 s-6">
                            <div class="product">
                                <div class="product__avt" style="background-image: url(assets/img/product/product1.jpg)">
                                </div>
                                <div class="product__info">
                                    <h3 class="product__name">Framed-Sleeve Tops Group</h3>
                                    <div class="product__price">
                                        <div class="price__old">340.000 <span class="price__unit">đ</span></div>
                                        <div class="price__new">320.000 <span class="price__unit">đ</span></div>
                                    </div>
                                </div>
                                <div class="product__sale">
                                    <span class="product__sale-percent">22%</span>
                                    <span class="product__sale-text">Giảm</span>
                                </div>
                                <a href="#" class="viewDetail">Xem chi tiết</a>
                                <a href="#" class="addToCart">Thêm vào giỏ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <ul class="pagination__list">
                        <li class="pagination__item">
                            <a href="listFilm.html" class="pagination__link">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>
                        <li class="pagination__item active">
                            <a href="listFilm.html" class="pagination__link">1</a>
                        </li>
                        <li class="pagination__item">
                            <a href="listFilm.html" class="pagination__link">2</a>
                        </li>
                        <li class="pagination__item">
                            <a href="listFilm.html" class="pagination__link">3</a>
                        </li>
                        <li class="pagination__item">
                            <a href="listFilm.html" class="pagination__link">4</a>
                        </li>
                        <li class="pagination__item">
                            <a href="listFilm.html" class="pagination__link">5</a>
                        </li>
                        <li class="pagination__item">
                            <a href="listFilm.html" class="pagination__link">...</a>
                        </li>
                        <li class="pagination__item active">
                            <a href="listFilm.html" class="pagination__link">14</a>
                        </li>
                        <li class="pagination__item">
                            <a href="listFilm.html" class="pagination__link">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: modal_form"></div>
    <!-- Script common -->
    <script src="./assets/js/commonscript.js"></script>
</body>

</html>