<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="fragments :: main_header('tag')"></head>
    <title>Danh sách sản phẩm</title>
    <!-- index -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/product.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/productSale.css}">
</head>

<body>
    <div th:replace="fragments :: header"></div>
    <div class="main">
        <div class="grid wide">
            <div class="main__taskbar">
                <div class="main__breadcrumb">
                    <div class="breadcrumb__item">
                        <a href="#" class="breadcrumb__link">Trang chủ</a>
                    </div>
                    <div class="breadcrumb__item">
                        <a href="#" class="breadcrumb__link">Sản phẩm</a>
                    </div>
                    <div class="breadcrumb__item">
                        <a href="#" class="breadcrumb__link" th:text="${category}"></a>
                    </div>
                </div>
                <div class="main__sort">
                    <h3 class="sort__title">
                        Hiển thị kết quả theo
                    </h3>
                    <select th:onchange="$(this).submitSort(this.value)"   class="sort__select" aria-label="label for the select" >
                        <option value="id-asc" >Thứ tự mặc định</option>
                        <option value="quantitySold-desc" >Mức độ phổ biến</option>
<!--                        <option value="3">Điểm đánh giá</option>-->
                        <option value="dateRelease-asc">Mới cập nhật</option>
                        <option value="price-desc">Giá : Cao đến thấp</option>
                        <option value="price-asc">Giá Thấp đến cao</option>
                    </select>
                </div>
            </div>
            <div class="productList">
                <div class="listProduct">
                    <div class="row">
                        <div th:each="product : ${listProduct}" class="col l-2 m-4 s-6">
                            <div class="product">
                                <div class="product__avt" th:style="'background-image: url('+${__product.mainImage__}+');'">
                                </div>
                                <div class="product__info">
                                    <h3 class="product__name">[[${product.name}]]</h3>
                                    <div class="product__price">
                                        <div class="price__old">[[${#numbers.formatDecimal(product.price, 3,'POINT', 0,'COMMA')}]]<span class="price__unit">đ</span></div>
                                        <div class="price__new">[[${#numbers.formatDecimal(product.priceDiscount, 3,'POINT', 0,'COMMA')}]]<span class="price__unit">đ</span></div>
                                    </div>
                                </div>
                                <div class="product__sale">
                                    <span class="product__sale-percent">[[${product.percentDiscount}]]%</span>
                                    <span class="product__sale-text">Giảm</span>
                                </div>
                                <a th:href="@{'/detail-product/'+${product.slug}}" class="viewDetail">Xem chi tiết</a>
                                <a  th:onclick="addToCart([[${product.name}]], [[${product.price}]])"   class="addToCart">Thêm vào giỏ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <ul class="pagination__list">
                        <li class="pagination__item">
                            <a id="prevPage" th:href="@{'/list-product?page='+${currentPage -1}}"
                               th:classappend="${currentPage <= 1 ? 'disable' : ''}"
                               class="pagination__link">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>
                        <th:block th:each="item : ${#numbers.sequence(1, totalPages)}">
                            <li th:if="${(item > totalPages - 2 && totalPages > 0) || (item >= currentPage - 2 && item <= currentPage && totalPages > 0) }" class="pagination__item"
                                th:classappend="${item == currentPage ? 'active' : ''}">
                                <a th:href="@{'/list-product?page='+${item}}" class="pagination__link">[[${item}]]</a>
                            </li>
                            <li th:if="${(item == currentPage+1 && currentPage < totalPages-1 && totalPages &gt; 5)
                                         || (item == currentPage - 3 && currentPage >= totalPages-1 )}" class="pagination__item">
                                <a href="#" class="pagination__link">...</a>
                            </li>
                        </th:block>
                        <li class="pagination__item">
                            <a id="nextPage" th:href="@{'/list-product?page='+${currentPage + 1}}"
                               th:classappend="${currentPage >= totalPages ? 'disable' : ''}"
                               class="pagination__link">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: modal_form"></div>
    <!-- Script common -->
    <script th:src="@{/assets/user/js/commonscript.js}"></script>
    <!--  config link pagination  -->
    <script>
        $(document).ready(function(){
            $('#prevPage').on('click', function(){
                if([[${currentPage}]] <= 1 ){
                    $(this).attr('href','#');
                }
            });
            $('#nextPage').on('click', function(){
                if([[${currentPage}]] >= [[${totalPages}]]){
                    $(this).attr('href','#');
                }
            });

            <!-- sort product with ajax-->
            $.fn.submitSort = function(value){
                    var sep = value.indexOf('-');
                    var sortBy = value.substring(0, sep);
                    var orderBy = value.substring(sep+1);
                    var url = "[[@{/list-product?sortBy=}]]" +  sortBy + "&orderBy=" + orderBy;
                    $.ajax({
                        url : url,
                        method: 'GET'
                    })
                    .done(function(data){
                        window.location.href = url;
                    })
                    .fail(function(error){
                       console.log('error in server!')
                    });
            }
        });
    </script>
    <!--Script show html cart item-->
    <script th:inline="javascript">
        $(document).ready(function(){
            $(window).on('load', function() {
                var listCart = /*[[${session.listCart}]]*/ [];
                updateHtmlAfterAddCart(listCart);
            });
        });
    </script>
</body>

</html>