<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments :: main_header('tag')"></head>
    <title>Tin Tức</title>
    <!-- index -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/new.css}">
</head>
<body>
    <div th:replace="fragments :: header"></div>
    <div class="main">
        <div class="grid wide">
            <div class="main__taskbar">
                <div class="main__breadcrumb">
                    <div class="breadcrumb__item">
                        <a href="#" class="breadcrumb__link">Trang chủ</a>
                    </div>
                    <div class="breadcrumb__item">
                        <a href="#" class="breadcrumb__link">Danh sách tin tức</a>
                    </div>
                </div>
            </div>
            <div class="list-new">
                <div th:each="item : ${top5Newest}" href="#" class="new-item">
                    <a href="#" class="new-item__img">
                        <img th:src="${item.image}" alt="error">
                    </a>
                    <div class="new-item__body">
                        <a href="#" class="new-item__title">
                            [[${item.title}]]
                        </a>
                        <p class="new-item__time"> Ngày đăng:  [[${#dates.format(item.createAt, 'yyyy-MM-dd')}]]</p>
                        <p class="new-item__description">[[${item.content}]]</p>
                        <a href="#" class="btn btn--purple">
                            Xem thêm
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: modal_form"></div>
    <!-- Script common -->
    <script th:src="@{/assets/user/js/commonscript.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function(){
            $(window).on('load', function() {
                var listCart = /*[[${session.listCart}]]*/ [];
                updateHtmlAfterAddCart(listCart);
            });
        });
    </script>
</body>
</html>