<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <head th:replace="fragments :: main_header('tag')"></head>
  <title>Đơn hàng của tôi</title>
  <!-- index -->
 <!-- <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/cart.css}">-->
  <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/order_history.css}">
</head>

<body>
<div th:replace="fragments :: header"></div>

<div class="main__order-history">
  <div class="grid wide">
    <div class="tab-pane active">
      <div class="tab__filter-order">
        <a th:href="@{/order/history}"
           class="btn item__filter-order"
           th:classappend="${status == '' ? 'active' : ''}">
           Tất cả
        </a>
        <a th:href="@{/order/history?status=Đang%20xử%20lí}"
           class="btn item__filter-order"
           th:classappend="${status == 'Đang xử lí' ? 'active' : ''}">
          Đang xử lí
        </a>
        <a th:href="@{/order/history?status=Hoàn%20thành}"
           class="btn item__filter-order"
           th:classappend="${status == 'Hoàn thành' ? 'active' : ''}">
          Hoàn thành
        </a>
        <a th:href="@{/order/history?status=Đã hủy}"
           class="btn item__filter-order"
           th:classappend="${status == 'Đã hủy' ? 'active' : ''}">
           Đã hủy
        </a>
      </div>
      <div th:if="${listOrder.size() > 0}" class="grid wide">
        <div class="row">
          <div th:each="order : ${listOrder}" class="col l-12 m-12 s-12">
            <div class="main__order_history">
              <div class="main__order-title">
                <div class="col l-8 ">
                  <div class="info__customer">
                    <div class="date__order">[[${#dates.format(order.createAt, 'yyyy-MM-dd')}]]</div>
                    <span>|</span>
                    <div class="name__customer">[[${order.name}]] - [[${order.phoneNumber}]]</div>
                  </div>
                </div>
                <div th:if="${order.status == 'Đang xử lí'}" class="status__order processing">[[${order.status}]]</div>
                <div th:if="${order.status == 'Hoàn thành'}" class="status__order success">[[${order.status}]]</div>
                <div th:if="${order.status == 'Đã hủy'}" class="status__order">[[${order.status}]]</div>
              </div>

              <div th:each="orderItem, itrStat : ${order.listOrderItem}" class="order__item" >
                <div class="col l-8 ">
                  <div class="wrapper__info-product">
                    <img th:src="${orderItem.imageProduct}" alt="error">
                    <div class="info_product">
                      <a th:href="@{'/detail-product/'+${orderItem.productSlug}}" class="main__product-name">[[${orderItem.name}]]</a>
                      <div class="main__product-amount">
                        <div class="main__product-price">
                          [[${#numbers.formatDecimal(orderItem.price, 3,'POINT', 0,'COMMA')}]] đ
                        </div>
                        <span>x</span>
                        <div>[[${orderItem.quantity}]]</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col l-2 s-3">
                  <div class="main__product-price">
                    [[${#numbers.formatDecimal((orderItem.price * orderItem.quantity), 3,'POINT', 0,'COMMA')}]] đ
                  </div>
                </div>
              </div>

              <div class="wrapper__total-order">
                <span>Tổng thanh toán : </span>
                <div class="total-order">[[${#numbers.formatDecimal(order.totalPayment, 3,'POINT', 0,'COMMA')}]] đ </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div th:if="${listOrder.size() == 0}">
        <div class="wrapper__empty-order">
          <div >
            <i class="fas fa-cart-plus icon__empty-cart"></i>
          </div>
          <div class="info">Bạn chưa có đơn đặt hàng nào !</div>
          <a th:href="@{/list-product}" class="btn btn--brown">
            Tiếp tục mua sắm
            <i class="fas fa-angle-double-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: modal_form"></div>
<!-- Sccipt for owl caroucel -->

<!-- Script common -->
<script th:src="@{/assets/user/js/commonscript.js}"></script>
<!--Script show html cart item-->
<script>
        "use strict";
        $(document).ready(function(){
            $(window).on('load', function() {
                updateTotalPriceCart();
            });
            $("input[type='checkbox'][name='chkCartItem']").on('click', function(){
                updateTotalPriceCart();
             });
            $('#order').on('click', function(){
                    let selectedItems = $("input[type='checkbox'][name='chkCartItem']:checked");
                    let listCartSelected = getListCartSelected(selectedItems);
                    if(listCartSelected.length !== 0){
                        var listCartJSon = JSON.stringify(listCartSelected);
                        localStorage.setItem('dataOrder', listCartJSon);
                        window.location = '/order';
                    }else{
                        SwalAlertWarning('Bạn chưa chọn sản phẩm nào!')
                    }
            });
            function updateTotalPriceCart(){
                    let selectedItems = $("input[type='checkbox'][name='chkCartItem']:checked");
                    let totalPrice = getListCartSelected(selectedItems).reduce((total, item) => {
                       return total + item.totalPrice;
                    },0);
                     $('.totalCart').text(formatDecimal(totalPrice));
            }
            function getListCartSelected(selectedItems){
                    let listCartSelected = [];
                    selectedItems.each(function(index, element){
                        let item = $(this).val();
                        let itemObject = JSON.parse(item);
                        let quantityValue = parseInt(itemObject.quantity)
                        listCartSelected.push(itemObject);
                    });
                    return listCartSelected;
            }
     });
    </script>
<script th:inline="javascript">
        $(document).ready(function(){
            $(window).on('load', function() {
                var listCart = /*[[${session.listCart}]]*/ [];
                updateHtmlAfterAddCart(listCart);
            });
        });
    </script>
</body>

</html>