<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments :: main_header('tag')"></head>
    <title>Thanh Toán</title>
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="./assets/css/pay.css">
</head>

<body>
    <div th:replace="fragments :: header"></div>
    <div class="main">
        <div class="grid wide">
            <div class="row">
                <div class="col l-7 m-12 s-12">
                    <div  class="pay-information">
                        <div class="pay__heading">Thông tin thanh toán</div>
                        <div class="form-group">
                            <label for="name" class="form-label">Họ Tên *</label>
                            <input id="name" name="account" type="text" class="form-control">
<!--                            <span class="form-message">Không hợp lệ !</span>-->
                        </div>
                        <div class="form-group">
                            <label for="address" class="form-label">Địa chỉ *</label>
                            <input id="address" name="account" type="text" class="form-control">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label for="city" class="form-label">Tỉnh / Thành phố *</label>
                            <input id="city" name="account" type="text" class="form-control">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Email *</label>
                            <input id="email" name="account" type="text" class="form-control">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber" class="form-label">Số điện thoại *</label>
                            <input id="phoneNumber" name="account" type="text" class="form-control">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label for="note" class="form-label">Ghi chú cho đơn hàng</label>
                            <textarea class="form-control" name="" id="note" cols="30" rows="20"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col l-5 m-12 s-12">
                    <div class="pay-order">
                        <div class="pay__heading">Đơn hàng của bạn</div>
                        <div class="display-data-order" ></div>
                        <div class="pay-info">
                            <div class="main__pay-text special">
                                Tổng thành tiền</div>
                            <div class="main__pay-price">
                                <span class="totalOrder"></span> ₫
                            </div>
                        </div>
                        <div id="sendOrder" class="btn btn--default">Đặt hàng</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: modal_form"></div>

    <script >
"use strict";
    $(document).ready(function() {
<!--    show data order -->
        var dataJson = localStorage.getItem('dataOrder') || [];
        if (dataJson) {
          var data = JSON.parse(dataJson);
          let html = data.map((item) => {
              return `
                        <div class="pay-info">
                            <div class="main__pay-text"> ${item.nameProduct} </div>
                            <div class="main__pay-amount">
                                ${item.quantity}
                            </div>
                            <div class="main__pay-price">
                                ${formatDecimal(item.priceProduct * item.quantity)} ₫
                            </div>
                        </div>
              `
          }).join('');
          $('.display-data-order').html(html);
          let total = formatDecimal(totalPayment(data));
          $('.totalOrder').text(total);
        };

<!--    send order -->
        $('#sendOrder').on('click', function(){
            var dataOrder = localStorage.getItem('dataOrder');
            var dataToSend = {
                name:       $('#name').val(),
                address:    $('#address').val(),
                city:       $('#city').val(),
                email:      $('#email').val(),
                phoneNumber:$('#phoneNumber').val(),
                note:       $('#note').val(),
                cartDtoList : JSON.parse(dataOrder)
            }
            if(dataOrder !== null){
                $.ajax({
                    url : '/yasuki/order',
                    method : 'POST',
                    contentType: "application/json",
                    dataType: "text",
                    data : JSON.stringify(dataToSend)
                }).then(function(data){
                    if(data == 'OK'){
                        localStorage.removeItem('dataOrder');
                        alert('order success')
                    }
                }).fail(function(error){
                    alert('error' + error)
                })
            }else{
                alert('null')
            }

        });

        function totalPayment(data){
              return data.reduce((total, item) => {
                   return total + item.priceProduct * item.quantity;
              },0);
        }




  });
</script>
    <!-- Script common -->
    <script src="./assets/js/commonscript.js"></script>
    <!--script order-->

</body>

</html>