<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments :: main_header('tag')"></head>
    <title>[[${product.name}]] - Yasuki.shop</title>

    <!-- index -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/user/css/product.css}">
</head>

<body>
    <div th:replace="fragments :: header"></div>
    <div th:unless="${#authorization.expression('isAnonymous()')}" >
        <input id="nameUser" type="hidden" th:value="${#authentication.principal.fullName}">
    </div>
    <div class="main">
        <div class="grid wide">
            <div class="productInfo">
                <div class="row">
                    <div class="col l-5 m-12 s-12">
                        <div class="owl-carousel owl-theme" id="sync1">
                            <a  href="#" class="product">
                                <div class="product__avt s_slide" th:style="'background-image: url('+${product.mainImage}+');'">
                                </div>
                            </a>
                            <a  th:each="item : ${product.productImages}" th:if="${item.url != null}" href="#" class="product">
                                <div class="product__avt s_slide" th:style="'background-image: url('+${item.url}+');'">
                                </div>
                            </a>
                        </div>
                        <div class="owl-carousel owl-theme" id="sync2">
                            <a  href="#" class="product">
                                <div class="product__avt s_slide" th:style="'background-image: url('+${product.mainImage}+');'">
                                </div>
                            </a>
                            <a  th:each="item : ${product.productImages}" th:if="${item.url != null}" href="#" class="product">
                                <div class="product__avt s_slide" th:style="'background-image: url('+${item.url}+');'">
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="col l-7 m-12s s-12 pl">
                        <div class="main__breadcrumb">
                            <div class="breadcrumb__item">
                                <a th:href="@{/}" class="breadcrumb__link">Trang chủ</a>
                            </div>
                            <div class="breadcrumb__item">
                                <a th:href="@{/list-product}" class="breadcrumb__link">Sản phẩm</a>
                            </div>
                            <div class="breadcrumb__item">
                                <a th:href="@{'/list-product?keyword='+${product.brand}}" class="product__brand breadcrumb__link">[[${product.brand}]]</a>
                            </div>
                        </div>
                        <h3 class="productInfo__name">
                            [[${product.name}]]
                        </h3>
                        <div class="productInfo__price">
                            [[${#numbers.formatDecimal(product.price, 3,'POINT', 0,'COMMA')}]] <span class="priceInfo__unit">đ</span>
                        </div>
                        <div class="productInfo__description">
                             <th:block th:utext="${product.shortDescription}"></th:block>
                        </div>

                        <div class="productInfo__addToCart">
                            <div class="buttons_added">
                                <input class="minus is-form" type="button" value="-" onclick="minusProductToAddCart()">
                                <input id="quantityAddCart" aria-label="quantity" class="input-qty" max="10" min="1" name="" type="number" value="1">
                                <input class="plus is-form" type="button" value="+" onclick="plusProductToAddCart()">
                            </div>
                            <div th:onclick="addToCart([[${product.id}]], 0)" class=" btn btn--purple">
                                <i class="fas fa-cart-plus"></i>
                                Thêm vào giỏ
                            </div>
                        </div>
                        <div class="productIndfo__policy ">
                            <div class="policy">
                                <div class="sub__wrapper bg-policy-1">
<!--                                    <img th:src="@{/assets/img/policy/policy1.png}" class="productIndfo__policy-img "></img>-->
                                    <i class="fas fa-shipping-fast"></i>
                                    <div class="productIndfo__policy-info ">
                                        <h3 class="productIndfo__policy-title ">Giao hàng miễn phí</h3>
                                        <p class="productIndfo__policy-description ">Cho đơn hàng từ 300K</p>
                                    </div>
                                </div>
                            </div>
                            <div class="policy">
                                <div class="sub__wrapper bg-policy-2">
<!--                                    <img th:src="@{/assets/img/policy/policy2.png}" class="productIndfo__policy-img "></img>-->
                                    <i class="fas fa-history"></i>
                                    <div class="productIndfo__policy-info ">
                                        <h3 class="productIndfo__policy-title ">Đổi trả hàng</h3>
                                        <p class="productIndfo__policy-description ">Trong 3 ngày đầu tiên</p>
                                    </div>
                                </div>
                            </div>
                            <div class="policy">
                                <div class="sub__wrapper bg-policy-3">
<!--                                    <img th:src="@{/assets/img/policy/policy3.png}" class="productIndfo__policy-img "></img>-->
                                    <i class="fas fa-award"></i>
                                    <div class="productIndfo__policy-info ">
                                        <h3 class="productIndfo__policy-title ">Hàng chính hãng</h3>
                                        <p class="productIndfo__policy-description ">Cam kết chất lượng</p>
                                    </div>
                                </div>
                            </div>
                            <div class="policy">
                                <div class="sub__wrapper bg-policy-4">
<!--                                    <img th:src="@{/assets/img/policy/policy4.png}" class="productIndfo__policy-img "></img>-->
                                    <i class="fas fa-question-circle"></i>
                                    <div class="productIndfo__policy-info ">
                                        <h3 class="productIndfo__policy-title ">Tư vấn 24/24</h3>
                                        <p class="productIndfo__policy-description ">Giải đáp mọi thắc mắc</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="productIndfo__category ">
                            <p class="productIndfo__category-text"> Danh mục : <a href="# " class="productIndfo__category-link ">[[${product.category.name}]]</a></p>
                            <p class="productIndfo__category-text"> Hãng : <a href="# " class="productIndfo__category-link ">[[${product.brand}]]</a></p>
                            <p class="productIndfo__category-text"> Số lượng đã bán : [[${product.quantityLeft}]]</p>
                            <p class="productIndfo__category-text"> Số lượng trong kho : [[${product.quantitySold}]]</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="productDetail ">
                <div class="main__tabnine ">
                    <div class="grid wide ">
                        <!-- Tab items -->
                        <div class="tabs ">
                            <div class="tab-item active ">
                                Mô tả
                            </div>
                            <div class="tab-item ">
                                Thông số
                            </div>
                            <div class="tab-item ">
                                Đánh giá
                            </div>
                            <div class="line "></div>
                        </div>
                        <!-- Tab content -->
                        <div class="tab-content ">
                            <div class="tab-pane active ">
                                <div class="productDes ">
                                    <div class="productDes__title ">MÔ TẢ SẢN PHẨM – DESCRIPTION</div>
                                    <div class="productDes__content" th:utext="${product.fullDescription}"></div>
                                </div>
                            </div>
                            <div class="tab-pane ">
                                <div class="productDes__title ">THÔNG SỐ SẢN PHẨM</div>
                                <div th:if="${titleCompare.size() > 0}" class="product_detail_info">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr th:each="item, state : ${product.expressionCompare}">
                                            <td th:text="${titleCompare[state.index]}"></td>
                                            <td th:text="${item}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane ">
                                <div class="productDes__ratting ">
                                    <div class="productDes__ratting-title ">Đánh giá của bạn *</div>
                                    <div class="productDes__ratting-wrap">
                                        <input type="hidden" id="productId" th:value="${product.id}">
                                        <div id="rating">
                                                <input type="radio" id="star5" name="rating" value="5" checked/>
                                                <label class="full" for="star5" title="Awesome - 5 stars">
                                                    <i class="fas fa-star"></i>
                                                </label>

                                                <input type="radio" id="star4" name="rating" value="4" />
                                                <label class="full" for="star4" title="Pretty good - 4 stars">
                                                    <i class="fas fa-star"></i>
                                                </label>

                                                <input type="radio" id="star3" name="rating" value="3" />
                                                <label class="full" for="star3" title="Meh - 3 stars">
                                                    <i class="fas fa-star"></i>
                                                </label>

                                                <input type="radio" id="star2" name="rating" value="2" />
                                                <label class="full" for="star2" title="Kinda bad - 2 stars">
                                                    <i class="fas fa-star"></i>
                                                </label>

                                                <input type="radio" id="star1" name="rating" value="1" />
                                                <label class="full" for="star1" title="Sucks big time - 1 star">
                                                    <i class="fas fa-star"></i>
                                                </label>
                                        </div>

                                    </div>
                                    <div class="productDes__ratting-title ">Mô tả nhận xét *</div>
                                    <textarea class="ratecomment" name="" id="rate_content" cols="30" rows="2" style="width: 100%;" placeholder="Nhập mô tả tại đây ..."></textarea>
                                    <div class="msg__rare-warning">* Vui lòng nhập mô tả!</div>
                                    <div class="rate__submit-btn">
                                        <input id="btnSendRate" type="submit" class="btn btn--purple" value="Đánh giá">
                                    </div>
                                </div>
                                <ul class="rate__list">
                                    <li th:each="rate_item : ${evaluateList}" class="rate__item">
                                        <div class="rate__info">
                                            <img src="/assets/default_user.png" alt="">
                                            <h3 class="rate__user" th:text="${rate_item.nameUser}"></h3>
                                            <div class="rate__star">
                                                <div class="group-star">
                                                    <i th:each="star_item : ${#numbers.sequence(1, rate_item.numStar)}" class="fas fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rate__comment" th:text="${rate_item.content}"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__frame ">
                <div class="grid wide ">
                    <h3 class="category__title ">Yasuki Cometics</h3>
                    <h3 class="category__heading pink ">Sản Phẩm Tương tự</h3>
                    <div class="owl-carousel hight owl-theme ">
                        <a th:each="product : ${sameProduct}" th:href="@{'/detail-product/'+${product.slug}}" class="product ">
                            <div class="product__avt " th:style="'background-image: url('+${__product.mainImage__}+');'">
                            </div>
                            <div class="product__info ">
                                <h3 class="product__name ">[[${product.name}]]</h3>
                                <div class="product__price ">
                                    <div class="price__old">
                                        <span th:if="${product.percentDiscount > 0}">
                                            [[${#numbers.formatDecimal(product.price, 3,'POINT', 0,'COMMA')}]]đ
                                        </span>
                                    </div>
                                    <div class="price__new ">[[${#numbers.formatDecimal(product.priceDiscount, 3,'POINT', 0,'COMMA')}]] <span class="price__unit ">đ</span></div>
                                </div>
                                <div class="rate__star">
                                    <div class="group-star__prod">
                                        <i th:each="star_item : ${#numbers.sequence(1, product.avgStar)}" class="fas fa-star"></i>
                                        <span>([[${product.evaluates.size()}]] đánh giá)</span>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${product.percentDiscount > 0}"  class="product__sale ">
                                <span class="product__sale-percent ">[[${product.percentDiscount}]]%</span>
                                <span class="product__sale-text ">Giảm</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: modal_form"></div>
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        $(document).ready(function() {
            var sync1 = $("#sync1 ");
            var sync2 = $("#sync2 ");
            var slidesPerPage = 4;
            var syncedSecondary = true;
            sync1.owlCarousel({
                items: 1,
                loop: true,
                margin: 20,
                nav: true,
                dots: false,
                autoplay: true,
                autoplayTimeout: 4000,
                autoplayHoverPause: true
            })
            sync2
                .on('initialized.owl.carousel', function() {
                    sync2.find(".owl-item ").eq(0).addClass("current ");
                })
                .owlCarousel({
                    items: 4,
                    dots: false,
                    nav: false,
                    margin: 30,
                    smartSpeed: 200,
                    slideSpeed: 500,
                    slideBy: 4,
                    responsiveRefreshRate: 100
                }).on('changed.owl.carousel', syncPosition2);

            function syncPosition(el) {
                var count = el.item.count - 1;
                var current = Math.round(el.item.index - (el.item.count / 2) - .5);

                if (current < 0) {
                    current = count;
                }
                if (current > count)  {
                    current = 0;
                }

                //end block

                sync2
                    .find(".owl-item ")
                    .removeClass("current ")
                    .eq(current)
                    .addClass("current ");
                var onscreen = sync2.find('.owl-item.active').length - 1;
                var start = sync2.find('.owl-item.active').first().index();
                var end = sync2.find('.owl-item.active').last().index();

                if (current > end) {
                    sync2.data('owl.carousel').to(current, 100, true);
                }
                if (current < start) {
                    sync2.data('owl.carousel').to(current - onscreen, 100, true);
                }
            }

            function syncPosition2(el) {
                if (syncedSecondary) {
                    var number = el.item.index;
                    sync1.data('owl.carousel').to(number, 100, true);
                }
            }

            sync2.on("click ", ".owl-item ", function(e) {
                e.preventDefault();
                var number = $(this).index();
                sync1.data('owl.carousel').to(number, 300, true);
            });
        });

        $('.owl-carousel.hight').owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 6
                }
            }
        })
    </script>

    <!-- Script common -->
    <script th:src="@{/assets/user/js/commonscript.js} ">
    </script>
    <script>
        function calcRate(r) {
            const f = ~~r, //Tương tự Math.floor(r)
                id = 'star' + f + (r % f ? 'half' : '')
            id && (document.getElementById(id).checked = !0)
        }
    </script>

<!--    add to cart-->
    <script>
        function plusProductToAddCart(){
                let currentVal = $('#quantityAddCart').val();
                $('#quantityAddCart').val(parseInt(currentVal)+1);
            }
            function minusProductToAddCart(){
                let currentVal = $('#quantityAddCart').val();
                if(currentVal == 1 ) return ;
                $('#quantityAddCart').val(parseInt(currentVal)-1);
            }
    </script>
</body>

</html>