<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="main_header(condition)" th:remove="${condition}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="+5000 Sản Phẩm Chính Hãng ✓ Giá Luôn Tốt Mọi Thời Điểm ✓Giao Nhanh Miễn Phí 2H (Trễ Tặng 100k)" />
    <meta name="keywords"
          content="Yasuki.com, mua mỹ phẩm chính hãng, son môi, chăm sóc da, chăm sóc tóc,trang điểm môi, chăm sóc cơ thể, kem dưỡng da, sữa rửa mặt, xịt khoáng, giá tốt nhất thị trường." />
    <!-- Font roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- Icon fontanwesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Reset css & grid sytem -->
    <link rel="stylesheet" th:href="@{/assets/user/css/library.css}">
    <link th:href="@{/assets/user/owlCarousel/assets/owl.carousel.min.css}" rel="stylesheet" />
    <!-- Layout -->
    <link rel="stylesheet" th:href="@{/assets/user/css/common.css}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Owl caroucel Js-->
    <script th:src="@{/assets/user/owlCarousel/owl.carousel.min.js}"></script>
    <!-- Format number   -->
    <script src="https://cdn.jsdelivr.net/npm/numbro@2.3.6/dist/numbro.min.js"></script>
    <!-- toastr -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>
<body>
<!--start header fragment-->
    <div th:fragment="header" class="header scrolling" id="myHeader">
    <div class="grid wide">
        <div class="header__top">
            <div class="navbar-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a href="index.html" class="header__logo">
                <img src="./assets/logo.png" alt="">
            </a>
            <div class="header__search">
                <div class="header__search-wrap">
                    <input type="text" class="header__search-input" placeholder="Tìm kiếm">
                    <a class="header__search-icon" href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="header__account">
                <a href="#my-Login" class="header__account-login">Đăng Nhập</a>
                <a href="#my-Register" class="header__account-register">Đăng Kí</a>
            </div>
            <!-- Cart -->
            <div class="header__cart have" href="#">
                <i class="fas fa-shopping-basket"></i>
                <div class="header__cart-amount">
                    3
                </div>
                <div class="header__cart-wrap">
                    <ul class="order__list">
                     </ul>
<!--                    <div class="total-money">Tổng cộng: 120.000đ</div>-->
                    <a th:href="@{/cart}" class="btn btn--default cart-btn">Xem giỏ hàng</a>
                    <a href="pay.html" class="btn btn--default cart-btn orange">Thanh toán</a>
                    <!-- norcart -->
                    <!-- <img class="header__cart-img-nocart" src="http://www.giaybinhduong.com/images/empty-cart.png" alt=""> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Menu -->
    <div class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item nav__search">
                <div class="nav__search-wrap">
                    <input class="nav__search-input" type="text" name="" id="" placeholder="Tìm sản phẩm...">
                </div>
                <div class="nav__search-btn">
                    <i class="fas fa-search"></i>
                </div>
            </li>
            <li class="header__nav-item authen-form">
                <a href="#" class="header__nav-link">Tài Khoản</a>
                <ul class="sub-nav">
                    <li class="sub-nav__item">
                        <a href="#my-Login" class="sub-nav__link">Đăng Nhập</a>
                    </li>
                    <li class="sub-nav__item">
                        <a href="#my-Register" class="sub-nav__link">Đăng Kí</a>
                    </li>
                </ul>
            </li>
            <li class="header__nav-item index">
                <a th:href="@{/}" class="header__nav-link">Trang chủ</a>
            </li>
            <li class="header__nav-item">
                <a th:href="@{/}" class="header__nav-link">Giới Thiệu</a>
            </li>
            <li class="header__nav-item">
                <a th:href="@{/list-product}" class="header__nav-link">Sản Phẩm</a>
                <div class="sub-nav-wrap grid wide">
                    <ul th:each="grCategory : ${session.dataCategory}" class="sub-nav">
                        <li class="sub-nav__item">
                            <a href="" class="sub-nav__link heading">[[${grCategory.name}]]</a>
                        </li>
                        <li th:each="category : ${grCategory.categories}" class="sub-nav__item">
                            <a href="" class="sub-nav__link">[[${category.name}]]</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="header__nav-item">
                <a th:href="@{/news}" class="header__nav-link">Tin Tức</a>
            </li>
            <li class="header__nav-item">
                <a th:href="@{/contact}" class="header__nav-link">Liên Hệ</a>
            </li>
        </ul>
    </div>
</div>
<!--end header fragment-->

<!--start footer-->
    <div th:fragment="footer" class="footer">
    <div class="grid wide">
        <div class="row">
            <div class="col l-3 m-6 s-12">
                <h3 class="footer__title">Menu</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Trang điểm</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Chăm sóc da</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Chăm sóc tóc</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Nước hoa</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Chăm sóc toàn thân </a>
                    </li>
                </ul>
            </div>
            <div class="col l-3 m-6 s-12">
                <h3 class="footer__title">Hỗ trợ khách hàng</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Hướng dẫn mua hàng</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Giải đáp thắc mắc</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Chính sách mua hàng</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Chính sách đổi trả</a>
                    </li>
                </ul>
            </div>
            <div class="col l-3 m-6 s-12">
                <h3 class="footer__title">Liên hệ</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                            <span class="footer__text">
                                <i class="fas fa-map-marked-alt"></i> Đường số 7, Phường Linh Xuân, Quận Thủ Đức, Tp.HCM
                            </span>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="fas fa-phone"></i> 0862 153 723
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="fas fa-envelope"></i> yasuki.cometics@gmail.com
                        </a>
                    </li>
                    <li class="footer__item">
                        <div class="social-group">
                            <a href="#" class="social-item"><i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="social-item"><i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="social-item"><i class="fab fa-pinterest-p"></i>
                            </a>
                            <a href="#" class="social-item"><i class="fab fa-invision"></i>
                            </a>
                            <a href="#" class="social-item"><i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col l-3 m-6 s-12">
                <h3 class="footer__title">Đăng kí</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                            <span class="footer__text">Đăng ký để nhận được được thông tin ưu đãi mới nhất từ chúng
                                tôi.</span>
                    </li>
                    <li class="footer__item">
                        <div class="send-email">
                            <input class="send-email__input" type="email" placeholder="Nhập Email...">
                            <a href="#" class="send-email__link">
                                <i class="fas fa-paper-plane"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span class="footer__text"> &copy Copyright <a class="footer__link" href="#">giangphat.technology</a></span>
    </div>
</div>
<!--end footer -->

<!-- Modal Form -->
    <div th:fragment="modal_form" class="ModalForm">
    <div class="modal" id="my-Register">
        <a href="#" class="overlay-close"></a>
        <div class="authen-modal register">
            <h3 class="authen-modal__title">Đăng Kí</h3>
            <div class="form-group">
                <label for="name" class="form-label">Họ Tên</label>
                <input id="name" name="account" type="text" class="form-control">
                <span class="form-message">Không hợp lệ !</span>
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Tài khoản Email *</label>
                <input id="email" name="password" type="text" class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Mật khẩu *</label>
                <input id="password" name="password" type="text" class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="re_password" class="form-label">Nhập lại mật khẩu *</label>
                <input id="re_password" name="password" type="text" class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="authen__btns">
                <div class="btn btn--default">Đăng Kí</div>
            </div>
        </div>
    </div>
    <div class=" modal" id="my-Login">
        <a href="#" class="overlay-close"></a>
        <div class="authen-modal login">
            <h3 class="authen-modal__title">Đăng Nhập</h3>
            <div class="form-group">
                <label for="account" class="form-label">Địa chỉ email *</label>
                <input id="account" name="account" type="text" class="form-control">
                <span class="form-message">Tài khoản không chính xác !</span>
            </div>
            <div class="form-group">
                <label for="pass" class="form-label">Mật khẩu *</label>
                <input id="pass" name="password" type="text" class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="authen__btns">
                <div class="btn btn--default">Đăng Nhập</div>
                <input type="checkbox" class="authen-checkbox">
                <label class="form-label">Ghi nhớ mật khẩu</label>
            </div>
            <a class="authen__link">Quên mật khẩu ?</a>
        </div>
    </div>
    <div class="up-top" id="upTop" onclick="goToTop()">
        <i class="fas fa-chevron-up"></i>
    </div>

</div>
</body>



</html>