<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="main_header(condition)" th:remove="${condition}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="+5000 Sản Phẩm Chính Hãng ✓ Giá Luôn Tốt Mọi Thời Điểm ✓Giao Nhanh Miễn Phí 2H" />
    <meta name="keywords"
          content="Yasuki.shop, mua mỹ phẩm chính hãng, son môi, chăm sóc da, chăm sóc tóc,trang điểm môi, chăm sóc cơ thể, kem dưỡng da, sữa rửa mặt, xịt khoáng, giá tốt nhất thị trường." />

    <link rel="icon" type="image/x-icon"  class="favicon-icon" th:href="@{/assets/img/favicon.png}">

    <!-- Font Quicksand -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon fontanwesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Reset css & grid sytem -->
    <link rel="stylesheet" th:href="@{/assets/user/css/library.css}">
    <link th:href="@{/assets/user/owlCarousel/assets/owl.carousel.min.css}" rel="stylesheet" />


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Owl caroucel Js-->
    <script th:src="@{/assets/user/owlCarousel/owl.carousel.min.js}"></script>

    <!--alertify js-->
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/user/alertifyjs/css/alertify.min.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/user/alertifyjs/css/themes/default.min.css}">
    <script th:src="@{/assets/user/alertifyjs/alertify.min.js}"></script>

    <!-- Format number   -->
    <script th:src="@{/assets/user/numbro@2.3.6/numbro.min.js}"></script>

    <!-- Layout -->
    <link rel="stylesheet" th:href="@{/assets/user/css/common.css}">
 </head>
<body>
<!--start header fragment-->
    <div th:fragment="header" class="header" id="myHeader">
    <div class="grid wide">
        <div class="header__top">
            <div class="navbar-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a th:href="@{/}" class="header__logo">
                <img th:src="@{/assets/img/yasuki_logo.jpg}" alt="logo">
                <div class="logo__description">
                    <span class="name__brand">Yasuki</span>
                    <span class="slogan">Uy tín - Chất lượng</span>
                </div>
            </a>
            <div class="header__search">
                <form th:action="@{/list-product}" method="get" class="header__search-wrap">
                    <input name="keyword" th:value="${keyword}" type="text" class="header__search-input" placeholder="Tìm kiếm">
                    <button type="submit" class="header__search-icon" >
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <div  th:if="${#authorization.expression('isAnonymous()')}" class="header__account">
                <a href="#my-Login" class="header__account-login">Đăng Nhập</a>
                <a href="#my-Register" class="header__account-register">Đăng Kí</a>
            </div>
            <div th:unless="${#authorization.expression('isAnonymous()')}" class="header__account header__authenticated  header__cart have">
                <span class="header__account-login">Hi, [[${#authentication.principal.fullName}]] !</span>
                <i class="fas fa-user-alt "></i>
                <div class="header__authenticated-wrap">
                    <a sec:authorize="hasAuthority('admin')" th:href="@{/admin}" class="btn btn--purple cart-btn mb-10">
                        <i class="fas fa-tachometer-alt fz-20"></i>
                        <span>Quản lí Admin</span>
                    </a>
                    <a th:href="@{/logout}" class="btn btn--default cart-btn">
                        <i class="fas fa-sign-out-alt fz-20"></i>
                        <span>Đổi tài khoản</span>
                    </a>
                </div>
            </div>
            <div class="icon__responsive">
                <!-- Account icon responsive-->
                <div th:if="${#authorization.expression('isAnonymous()')}" class="header__cart header__account_icon have" >
                    <i class="fas fa-user"></i>
                    <div  class="header__cart-wrap cart_scroll">
                        <a href="#my-Login" class="btn btn--purple cart-btn">
                            <i class="fas fa-sign-in-alt"></i>
                            <span class="me-10">Đăng nhập</span>
                        </a>
                        <a href="#my-Register" class="btn btn--default cart-btn">
                            <i class="fas fa-user-plus color-black"></i>
                            <span class="me-10">Đăng ký</span>
                        </a>
                    </div>
                </div>
                <!-- Cart on nav-->
                <a th:href="@{${#authorization.expression('isAnonymous()')? '#my-Login' : '/cart'}}" class="header__cart have" >
                    <i class="fas fa-shopping-basket"></i>
                    <div class="header__cart-amount">
                        [[${session.sizeCart != null ? session.sizeCart : '0'}]]
                    </div>
                    <!--<div class="header__cart-wrap cart_scroll">
                        <ul class="order__list">
                        </ul>
                        &lt;!&ndash;                    <div class="total-money">Tổng cộng: 120.000đ</div>&ndash;&gt;
                        <a th:href="@{${#authorization.expression('isAnonymous()')? '#my-Login' : '/cart'}}" th:onclick="" class="btn btn&#45;&#45;purple cart-btn">
                            <i class="fas fa-cart-plus"></i>
                            <span class="me-10">Xem giỏ hàng</span>
                        </a>
                      &lt;!&ndash;  <a th:href="@{${#authorization.expression('isAnonymous()')? '#my-Login' : '/cart'}}" class="btn btn&#45;&#45;brown cart-btn">
                            <i class="fab fa-amazon-pay color-black"></i>
                            <span class="me-10">Thanh toán</span>
                        </a>&ndash;&gt;
                    </div>-->
                </a>
            </div>
        </div>
    </div>
    <!-- Menu -->
    <div class="header__nav">
        <ul class="header__nav-list">
            <!--<li class="header__nav-item nav__search">
                <div class="nav__search-wrap">
                    <input class="nav__search-input" type="text" name="" id="" placeholder="Tìm sản phẩm...">
                </div>
                <div class="nav__search-btn">
                    <i class="fas fa-search"></i>
                </div>
            </li>-->
            <li class="header__nav-item">
                <a th:href="@{/}" class="header__nav-link">Trang chủ</a>
            </li>
            <li class="header__nav-item">
                <a th:href="@{/list-product?sortBy=percentDiscount&orderBy=desc}" class="header__nav-link">Khuyến mãi</a>
            </li>
            <li class="header__nav-item">
                <a href="#" class="header__nav-link nav__link-accordion">
                    Sản Phẩm
                    <i class="fas fa-angle-up"></i>
                </a>
                <div class="sub-nav-wrap-responsive active">
                    <ul th:each="grCategory : ${session.dataCategory}" class="sub-nav">
                        <li class="sub-nav__item sub-1">
                            <a th:href="@{'/list-product?group-category=' +${grCategory.name}}" class="sub-nav__link heading">[[${grCategory.name}]]</a>
                            <i class="fas fa-angle-down"></i>
                        </li>
                        <li class="wrapper__sub-2">
                            <div th:each="category : ${grCategory.categories}" class="sub-nav__item sub-2">
                                <a th:href="@{'/list-product?category=' +${category.name}}" class="sub-nav__link">[[${category.name}]]</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="header__nav-item">
                <a th:href="@{/list-product}" class="header__nav-link nav__link-accordion">
                    Thương hiệu
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="list-brand sub-nav-wrap-responsive">
                    <ul th:each="item : ${session.dataBrand}" class="sub-nav">
                        <li  class="sub-nav__item">
                            <a th:href="@{'/list-product?keyword=' +${item}}" class="sub-nav__link heading">[[${item}]]</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li th:unless="${#authorization.expression('isAnonymous()')}"  class="header__nav-item">
                <a th:href="@{/order/history}" class="header__nav-link">Đơn hàng</a>
            </li>
            <li class="header__nav-item">
                <a th:href="@{/news}" class="header__nav-link">Tin Tức</a>
            </li>
            <li class="header__nav-item">
                <a th:href="@{/contact}" class="header__nav-link">Liên Hệ</a>
            </li>
        </ul>
    </div>
</div>
<!--end header fragment-->

<!--start footer-->
    <div th:fragment="footer" class="footer">
    <div class="grid wide">
        <div class="row">
            <div class="col l-3 m-6 s-12">
                <h3 class="footer__title">Liên hệ</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                            <span class="footer__text">
                                <i class="fas fa-building"></i>
                                Công Ty TMDV Kết Nối Tiêu Dùng Việt
                            </span>
                    </li>
                    <li class="footer__item">
                            <span class="footer__text">
                                <i class="fas fa-map-marked-alt"></i>
                                 Địa chỉ 1: 27 Châu Văn Liêm, phường Xuân Thanh, TP Long Khánh, tỉnh Đồng Nai
                            </span>
                    </li>
                    <li class="footer__item">
                            <span class="footer__text">
                                <i class="fas fa-map-marked-alt"></i>
                                 Địa chỉ 2: Đường số 7, phường Linh Xuân, quận Thủ Đức, TP Thủ Đức
                            </span>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="fas fa-phone"></i> 096 5030 581 (Mr. Đông)
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="fas fa-phone"></i> 094 6324 094 (Ms. Thảo)
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <!--<i class="fas fa-envelope"></i>-->
                            ketnoitieudungviet@gmail.com
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="https://ketnoitieudungviet.shop" class="nav-link p-0 text-footer sub_web fw-700">
                            WEBSITE CÙNG CÔNG TY
                            <div class="brand__group">
                                <img th:src="@{/assets/img/gia_dung_logo.jpg}" alt="img">
                            </div>
                        </a>
                    </li>
                    <li class="footer__item">
                        <div class="social-group">
                            <a href="https://www.facebook.com/profile.php?id=61553526003282&mibextid=ZbWKwL" class="social-item">
                                <img th:src="@{/assets/img/facebook_icon.png}" alt="">
                            </a>
                            <a href="https://www.tiktok.com/@ketnoitieudungviet?_t=8hNRziu6POz&_r=1" class="social-item">
                                <img th:src="@{/assets/img/tiktok.png}" alt="">
                            </a>
                            <a href="https://zaloapp.com/qr/p/1s3pk1d0xso7i?src=qr"
                               class="social-item">
                                <img th:src="@{/assets/img/zalo_logo.png}" alt="">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col l-3 m-6 s-12">
                <h3 class="footer__title">Menu</h3>
                <ul class="footer__list">
                    <li th:each="grCategory : ${session.dataCategory}" class="footer__item">
                        <a th:href="@{'/list-product?group-category=' +${grCategory.name}}" class="footer__link">[[${grCategory.name}]]</a>
                    </li>
                </ul>
            </div>
            <div class="col l-3 m-6 s-12">
                <h3 class="footer__title">Hỗ trợ khách hàng</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Hướng dẫn mua hàng</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Giải đáp thắc mắc</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Chính sách mua hàng</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Chính sách đổi trả</a>
                    </li>
                </ul>
            </div>
            <div class="col l-3 m-6 s-12">
                <h3 class="footer__title">Đăng ký</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                            <span class="footer__text">Đăng ký để nhận được được thông tin ưu đãi mới nhất từ chúng
                                tôi.</span>
                    </li>
                    <li class="footer__item">
                        <div class="send-email">
                            <input class="send-email__input" type="email" placeholder="Nhập Email...">
                            <a href="#" class="send-email__link">
                                <i class="fas fa-paper-plane"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   <!-- <div class="copyright">
        <span class="footer__text"> &copy Copyright <a class="footer__link" href="#">giangphat.technology</a></span>
    </div>-->
</div>
<!--end footer -->

<!-- Modal Form -->
    <div th:fragment="modal_form" class="ModalForm">
    <div class="modal" id="my-Register">
        <a href="#" class="overlay-close"></a>
        <div class="authen-modal register">
            <h3 class="authen-modal__title">Đăng Kí</h3>
            <div class="form-group">
                <label for="name_signup" class="form-label">Họ Tên</label>
                <input id="name_signup" name="account" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="email_signup" class="form-label">Tài khoản Email *</label>
                <input id="email_signup" name="email" type="email" class="form-control">
                <span class="form-message error_email_signup" style="display : none;">Tài khoản đã tồn tại!</span>
            </div>
            <div class="form-group">
                <label for="password_signup" class="form-label">Mật khẩu *</label>
                <input id="password_signup" name="password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="re_password_signup" class="form-label">Nhập lại mật khẩu *</label>
                <input id="re_password_signup" name="password" type="password" class="form-control">
                <span class="form-message  msg_pass_not_match" style="display : none;">Mật khẩu không khớp!</span>
            </div>
            <div id="btn_signup" class="authen__btns">
                <div class="btn btn--purple  w-100">Đăng Kí</div>
            </div>
        </div>
    </div>
    <div class=" modal" id="my-Login">
        <a href="#" class="overlay-close"></a>
        <div class="authen-modal login">
            <h3 class="authen-modal__title">Đăng Nhập</h3>
            <div class="form-group">
                <label for="email_modal_login" class="form-label">Địa chỉ email *</label>
                <input id="email_modal_login" name="username" type="email" class="form-control">
                <span class="form-message account_not_found_message" style="display : none;">Tài khoản không tồn tại !</span>
            </div>
            <div class="form-group">
                <label for="pass_modal_login" class="form-label">Mật khẩu *</label>
                <input id="pass_modal_login" name="password" type="password" class="form-control">
                <span class="form-message invalid_password_message"  style="display : none;">Sai mật khẩu</span>
            </div>
            <div class="authen__btns">
                <div id="submit_modal_login" class="btn btn--purple">Đăng Nhập</div>
                <a href="#my-Register" class=" btn btn--default">Đăng Kí</a>
<!--                <input  id="remember_me" type="checkbox" class="authen-checkbox">-->
<!--                <label  for="remember_me" class="form-label">Ghi nhớ mật khẩu</label>-->
            </div>
            <a href="#my-ForgotPass" class="authen__link">Quên mật khẩu ?</a>
        </div>
    </div>

    <div class="modal" id="my-ForgotPass">
        <a href="#" class="overlay-close"></a>
        <div class="authen-modal register">
            <h3 class="authen-modal__title">Quên mật khẩu</h3>
            <div class="form-group">
                <label for="email_forgot" class="form-label">Tài khoản Email *</label>
                <input id="email_forgot" name="email" type="email" class="form-control">
                <span class="form-message msg_not_exist" style="display : none;">Tài khoản không tồn tại!</span>
            </div>
            <div class="form-group">
                <label for="code_confirm" class="form-label">Mã xác nhận *</label>
                <div class="code__forgot-group">
                    <input id="code_confirm" name="code_confirm" type="text" class="form-control">
                    <div id="btnSendCode" class="btn__sendcode">Gửi mã</div>
                </div>
                <span class="form-message msg_sent_code" style="display : none;">Mã xác nhận đã được gửi, vui lòng kiểm tra email của bạn!</span>
            </div>
            <div class="form-group">
                <label for="new_password" class="form-label">Mật khẩu mới *</label>
                <input id="new_password" name="password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="re_password_forgot" class="form-label">Nhập lại mật khẩu *</label>
                <input id="re_password_forgot" name="password" type="password" class="form-control">
                <span class="form-message  msg_pass_not_match" style="display : none;">Mật khẩu không khớp!</span>
            </div>
            <div id="btn_forgotSubmit" class="authen__btns">
                <div class="btn btn--purple w-100">Đổi mật khẩu</div>
            </div>
        </div>
    </div>

    <div class="up-top" id="upTop" onclick="goToTop()">
        <i class="fas fa-chevron-up"></i>
    </div>

</div>
</body>

</html>